## SQLQuery_c10_2_1.sql

In [1]:
select
	FIO,
	Len(FIO) as FIO_Len
from
	Student
order by
	FIO_Len

FIO,FIO_Len
NULL,NULL
Петров Иван Петрович,20
Шманай Никита Петрович,22
Костецкий Павел Сергеевич,25
Михайлов Николай Иванович,25
Иванов Владимир Николаевич,26
Петрикевич Тимофей Юрьевич,26
Кордияк Татьяна Дмитриевна,26
Шпаковский Артем Денисович,26
Шимкович Елизавета Олеговна,27
Коваленко Владимир Иванович,27
Виноградов Павел Гаврилович,27
Белопольский Андрей Иванович,28
Завадский Кирилл Валентинович,29
Бельский Василий Владимирович,29
Александров Николай Николаевич,30
Семашкевич Виктория Михайловна,30
Мироненко Светлана Владимировна,31

## SQLQuery_c10_2_2.sql

In [2]:
select
	trim(FIO) as FIO,
	Data,
	spez,
	godpost
from
	Student

FIO,Data,spez,godpost
Александров Николай Николаевич,2000-01-01,Физика,2018
Бельский Василий Владимирович,2001-05-02,Математика,2019
Белопольский Андрей Иванович,2004-10-21,Информатика,2022
Петров Иван Петрович,2004-07-17,Физика,2022
Михайлов Николай Иванович,2005-12-09,Математика,2023
Мироненко Светлана Владимировна,1998-12-09,Радиофизика,2016
Коваленко Владимир Иванович,2001-12-09,Информатика,2019
Виноградов Павел Гаврилович,2003-12-09,Химия,2021
Иванов Владимир Николаевич,1999-12-09,Радиофизика,2018
Семашкевич Виктория Михайловна,1998-12-09,Химия,2017
Шимкович Елизавета Олеговна,2003-04-18,Информатика,2021
Петрикевич Тимофей Юрьевич,2004-03-30,Информатика,2021
Костецкий Павел Сергеевич,2003-04-22,Информатика,2021
Шманай Никита Петрович,2003-12-06,Информатика,2021
Кордияк Татьяна Дмитриевна,2004-06-05,Информатика,2021
Шпаковский Артем Денисович,2004-08-19,Информатика,2021
Завадский Кирилл Валентинович,2003-11-18,Информатика,2021
NULL,NULL,NULL,NULL

## SQLQuery_c10_2_3.sql

In [11]:
select
	FIO,
	charindex(N'ов', FIO) as Position
from
	Student

FIO,Position
Александров Николай Николаевич,10
Бельский Василий Владимирович,26
Белопольский Андрей Иванович,25
Петров Иван Петрович,5
Михайлов Николай Иванович,7
Мироненко Светлана Владимировна,28
Коваленко Владимир Иванович,2
Виноградов Павел Гаврилович,9
Иванов Владимир Николаевич,5
Семашкевич Виктория Михайловна,27
Шимкович Елизавета Олеговна,5
Петрикевич Тимофей Юрьевич,0
Костецкий Павел Сергеевич,0
Шманай Никита Петрович,19
Кордияк Татьяна Дмитриевна,0
Шпаковский Артем Денисович,5
Завадский Кирилл Валентинович,26
NULL,NULL

## SQLQuery_c10_2_4.sql

In [4]:
select
	FIO,
	right(spez, 2) as spez_2
from
	Student

FIO,spez_2
Александров Николай Николаевич,ка
Бельский Василий Владимирович,ка
Белопольский Андрей Иванович,ка
Петров Иван Петрович,ка
Михайлов Николай Иванович,ка
Мироненко Светлана Владимировна,ка
Коваленко Владимир Иванович,ка
Виноградов Павел Гаврилович,ия
Иванов Владимир Николаевич,ка
Семашкевич Виктория Михайловна,ия
Шимкович Елизавета Олеговна,ка
Петрикевич Тимофей Юрьевич,ка
Костецкий Павел Сергеевич,ка
Шманай Никита Петрович,ка
Кордияк Татьяна Дмитриевна,ка
Шпаковский Артем Денисович,ка
Завадский Кирилл Валентинович,ка
NULL,NULL

## SQLQuery_c10_2_6.sql

In [5]:
select distinct
	spez,
	reverse(spez) as Rev_spez
from
	Student

spez,Rev_spez
NULL,NULL
Информатика,акитамрофнИ
Математика,акитаметаМ
Радиофизика,акизифоидаР
Физика,акизиФ
Химия,яимиХ

## SQLQuery_c10_2_7.sql

In [13]:
print replicate('Petrykevich ', 19)

## SQLQuery_c10_2_8.sql

In [7]:
select
	abs(square(sin(pi() / 2)) - cos(3 * pi() / 2)) as func_ans

func_ans
1.0000000000000002

## SQLQuery_c10_2_9.sql

In [14]:
select
	datediff(day, '20230508', '20230603') as amount_of_days

amount_of_days
26

## SQLQuery_c10_2_10.sql

In [15]:
select
	datediff(month, '20040330', '20230508') as amount_of_month

amount_of_month
230

## SQLQuery_c10_2_11.sql

In [10]:
select distinct
	spez,
	iif(len(spez) <= 10, 'Short', 'Long') as Spez_Len_Type
from
	Student

spez,Spez_Len_Type
NULL,Long
Информатика,Long
Математика,Short
Радиофизика,Long
Физика,Short
Химия,Short