## SQLQuery10_1_1.sql

In [21]:
declare @a int, @b int, @c int
set @a = 5
set @b = 10
set @c = @a + @b
print @c

## SQLQuery10_1_2.sql

In [22]:
declare @liceym_max float, @gimn_max float, @difference float
set @liceym_max = (select max(grade) from Students where facility = N'лицей')
set @gimn_max = (select max(grade) from Students where facility = N'гимназия')
set @difference = @liceym_max - @gimn_max
print @difference

## SQLQuery10_1_3.sql

In [23]:
declare @max_grade float, @min_grade float, @difference float
select
	@max_grade = max(Grade),
	@min_grade = min(Grade)
from
	Students
set @difference = @max_grade - @min_grade
print @difference

## SQLQuery10_1_4.sql

In [24]:
declare @a int, @b int
set @a = rand()*1000
set @b = square(@a)
print @a
print @b

## SQLQuery10_1_5.sql

In [25]:
declare @a int, @b int
set @a = rand() * 100
set @b = rand() * 100
if @a < @b
	print 'b = ' + cast(@b as varchar(3))
else
	print 'a = ' + cast(@a as varchar(3))

## SQLQuery10_1_6.sql

In [26]:
declare @a int
set @a = rand() * 100
if @a % 3 = 0
	print cast(@a as varchar(3)) + ' % 3 = 0'
else
	print cast(@a as varchar(3)) + ' % 3 != 0'

## SQLQuery10_1_7.sql

In [27]:
declare @a int
set @a = RAND() * 1000
print @a
while (@a % 5 = 0 and @a > 1)
	begin
		set @a = @a / 5
	end
if @a = 1
	print 'Yes'
else
	print 'No'

## SQLQuery10_1_8.sql

In [28]:
declare @a int, @b int
set @a = rand() * 1000
set @b = rand() * 1000
print @a
print @b

while @a != @b
	begin
		if @a > @b
			set @a = @a - @b
		else
			set @b = @b - @a
	end
print N'НОД = ' + cast(@a as varchar(4))

## SQLQuery10_1_9.sql

In [29]:
declare @a int, @b int, @sum int
set @a = rand() * 10
set @b = rand() * 10
set @sum = 0

print @a
print @b

if @a > @b
	print 'Incorrect input'
else
	begin
		while @a <= @b
			begin
				set @sum = @sum + @a
				set @a = @a + 1
			end
		print @sum
	end

## SQLQuery10_1_10.sql

In [30]:
declare @N int, @M int, @SQ int
set @N = rand() * 10
set @M = 1
set @SQ = 0

while @M <= @N - 1
begin
	set @SQ = @SQ + @M
	print @SQ
	set @M = @M + 2
end

## SQLQuery10_1_11.sql

In [31]:
declare @a int, @b int, @count int
set @a = rand() * 5
set @b = rand() * 5 + @a
set @count = 1

while @a <= @b
begin
	print replicate(@a, @count)
	set @a = @a + 1
	set @count = @count + 1
end

## SQLQuery10_1_12.sql

In [32]:
declare @a int = 10

while @a < 100
begin
	if @a % 4 = 0 and @a % 6 != 0
	begin
		print @a
		set @a = @a + 4
	end
	else
		set @a = @a + 1
end

## SQLQuery10_1_13.sql

In [33]:
declare @d int = 30, @m int = 11
set @d = case
		when @m in (1,3,5,7,8,10,12) and @d = 31 then 1
		when @m in (4,6,9,11) and @d = 30 then 1
		when @m = 2 and @d = 28 then 1
		else @d + 1
	end
set @m = case
		when @d = 1 and @m = 12 then 1
		when @d = 1 and @m < 12 then @m + 1
		else @m
	end
print cast(@d as varchar(2)) + '/' + cast(@m as varchar(2))

## SQLQuery10_1_14.sql

In [34]:
declare @len int, @word nvarchar(13) = N'Нижневартовск'
set @len = len(@word)

while @len > 0
	begin
		print @word
		set @len = @len - 1
	end

## SQLQuery10_1_15.sql

In [35]:
declare @len int, @m int, @word nvarchar(13)
set @word = N'Нижневартовск'
set @len = len(@word)
set @m = @len
while @len > 0
	begin
		print left(@word,@len)+space(2*(@m-@len))+right(reverse(@word),@len)
		set @len = @len - 1
	end
set @len = 2
while @len <= @m
	begin
		print left(@word,@len)+space(2*(@m-@len))+right(reverse(@word),@len)
		set @len = @len + 1
	end