## SQLQuery_c10_1_1.sql

In [5]:
declare @a int = 5, @b int = 10
print @a * @b

## SQLQuery_c10_1_2.sql

In [6]:
declare @liceym_avg float, @gimn_avg float, @difference float
set @liceym_avg = (select avg(grade) from Students where facility = N'лицей')
set @gimn_avg = (select avg(grade) from Students where facility = N'гимназия')
set @difference = @liceym_avg - @gimn_avg
print @difference

## SQLQuery_c10_1_3.sql

In [7]:
declare @count int = (select count(*) from Students)
if @count % 2 = 0
	print 'Even'
else
	print 'Odd'

## SQLQuery_c10_1_4.sql

In [8]:
declare @a int = rand() * 10000, @sum int = 0, @count int = 0
print @a

while @count <= 3
	begin 
		set @sum = (@a % 10) + @sum
		set @a = @a / 10
		set @count = @count + 1
	end
print @sum

## SQLQuery_c10_1_5.sql

In [9]:
declare @a int, @b int, @c int, @min int
set @a = rand() * 10 print @a
set @b = rand() * 10 print @b
set @c = rand() * 10 print @c

if @a < @b
	begin
		set @min = @a
		if @c < @min
			set @min = @c
	end
else
	begin
		set @min = @b
		if @c < @min
			set @min = @c
	end
print @min

## SQLQuery_c10_1_6.sql

In [10]:
declare @a int = rand() * 100
print @a

if @a % 11 = 0
	print 'Yes'
else
	print 'No'

## SQLQuery_c10_1_7.sql

In [11]:
declare @a int
set @a = RAND() * 1000
print @a
while (@a % 3 = 0 and @a > 1)
	begin
		set @a = @a / 3
	end
if @a = 1
	print 'Yes'
else
	print 'No'

## SQLQuery_c10_1_8.sql

In [12]:
declare @a int, @b int, @b1 int, @GCD int, @LCM int
set @a = rand() * 1000
set @b = rand() * 1000
print @a
print @b
set @GCD = @a
set @b1 = @b
while @GCD != @b1
	begin
		if @GCD > @b1
			set @GCD = @GCD - @b1
		else
			set @b1 = @b1 - @GCD
	end
set @LCM = @a * @b / @GCD
print N'НОД = ' + cast(@LCM as varchar(10))

## SQLQuery_c10_1_9.sql

In [13]:
declare @a int, @b int, @sum int
set @a = rand() * 10
set @b = rand() * 10
set @sum = 0

print @a
print @b

if @a > @b
	print 'Incorrect input'
else
	begin
		while @a <= @b
			begin
				set @sum = @sum + square(@a)
				set @a = @a + 1
			end
		print @sum
	end

## SQLQuery_c10_1_10.sql

In [14]:
declare @num int = 21

while @num > 0
	begin
		if @num % 2 = 1 and @num % 3 = 1 and @num % 4 = 1 and @num % 5 = 1 and @num % 6 = 1 and @num % 7 = 0
			begin
				print @num
				break
			end
		else
			set @num = @num + 70
	end

## SQLQuery_c10_1_11.sql

In [15]:
declare @len int, @word nvarchar(10) = N'Тимофей'
set @len = len(@word)

while @len > 0
	begin
		print @word
		set @len = @len - 1
	end