In [5]:
use TestDB1
GO

CREATE PROC PROC40
AS
BEGIN
    SELECT *
    FROM Countries
END

EXEC PROC40

In [8]:
use TestDB1
GO

CREATE PROCEDURE PROC5
    @outputCount int OUTPUT
AS
BEGIN
    SELECT @outputCount = LEN(CAST([square] AS VARCHAR(MAX)))
    FROM Countries
END

DECLARE @countDigits int
EXEC PROC5 @outputCount = @countDigits OUTPUT
SELECT @countDigits

In [9]:
use TestDB1
GO

CREATE PROCEDURE PROC006
AS
BEGIN
    CREATE TABLE TestTabl06 (
        name nvarchar(100),
        capital nvarchar(100),
        square float,
        population int,
        continent nvarchar(50)
    )

    INSERT INTO TestTabl06 (name, capital, square, population, continent)
    SELECT 
		[name],
		[capital],
		[square],
		[population],
		continent
    FROM Countries
    WHERE [name] LIKE '%' 
END

EXEC PROC006

In [11]:
use TestDB1
GO

CREATE FUNCTION Fun4
(
	@maxArea float
)
RETURNS TABLE
AS
RETURN (
    SELECT
		[name],
		[capital],
		[square],
		[population],
		continent
    FROM Countries
    WHERE [square] < @maxArea
	)
GO

SELECT * FROM dbo.Fun4(1000000)

name,capital,square,population,continent
Австрия,Вена,83858,8741753,Европа
Азербайджан,Баку,86600,9705600,Азия
Албания,Тирана,28748,2866026,Европа
Афганистан,Кабул,647500,29822848,Азия
Бангладеш,Дакка,144000,160221000,Азия
Бахрейн,Манама,701,1397000,Азия
Белиз,Бельмопан,22966,377968,Северная Америка
Белоруссия,Минск,207595,9498400,Европа
Бельгия,Брюссель,30528,11250585,Европа
Бенин,Порто-Ново,112620,11167000,Африка
Болгария,София,110910,7153784,Европа
Ботсвана,Габороне,600370,2209208,Африка
Буркина-Фасо,Уагадугу,274200,19034397,Африка
Бутан,Тхимпху,47000,784000,Азия
Великобритания,Лондон,244820,65341183,Европа
Венгрия,Будапешт,93030,9830485,Европа
Венесуэла,Каракас,912050,31028637,Южная Америка
Восточный Тимор,Дили,14874,1167242,Азия
Вьетнам,Ханой,329560,91713300,Азия

In [15]:
use TestDB1
GO

CREATE FUNCTION Fun5()
RETURNS TABLE
AS
RETURN(
    SELECT [name] AS Country,
	[population] / [square] AS PopulationDensity
    FROM Countries
	)
GO

SELECT * FROM dbo.Fun5()

Country,PopulationDensity
Австрия,104
Азербайджан,112
Албания,99
Алжир,16
Ангола,20
Аргентина,15
Афганистан,46
Бангладеш,1112
Бахрейн,1992
Белиз,16
Белоруссия,45
Бельгия,368
Бенин,99
Болгария,64
Боливия,9
Ботсвана,3
Бразилия,24
Буркина-Фасо,69
Бутан,16
Великобритания,266
Венгрия,105
Венесуэла,34
Восточный Тимор,78
Вьетнам,278

In [18]:
use MusicProject 
GO

CREATE PROCEDURE GetAuthorsBeforeDateCount
    @BirthdayMax date,
    @Count int OUTPUT
AS
BEGIN
    SELECT @Count = COUNT(*)
    FROM authors
    WHERE birthday <= @BirthdayMax
END

GO

DECLARE @AuthorsCount int
EXEC GetAuthorsBeforeDateCount @BirthdayMax = '1980-01-01', @Count = @AuthorsCount OUTPUT
PRINT '    : ' + CAST(@AuthorsCount AS nvarchar(10));

GO;

use MusicProject 
GO

CREATE PROCEDURE GetAlbumsByAuthor
    @AuthorID int
AS
BEGIN
    SELECT name, release
    FROM albums
    WHERE author = @AuthorID
END

GO

EXEC GetAlbumsByAuthor @AuthorID = 3

GO;

use MusicProject 
GO

CREATE FUNCTION GetAuthorsBeforeDateCount2
(
    @BirthdayMax date
)
RETURNS int
AS
BEGIN
    DECLARE @Count int
    SELECT @Count = COUNT(*)
    FROM authors
    WHERE birthday <= @BirthdayMax
    RETURN @Count
END

GO

DECLARE @AuthorsCount int
SET @AuthorsCount = dbo.GetAuthorsBeforeDateCount2('1980-01-01')
PRINT '   : ' + CAST(@AuthorsCount AS nvarchar(10))

GO;

use MusicProject 
GO

CREATE FUNCTION GetAlbumsByAuthor2
(
    @AuthorID int
)
RETURNS TABLE
AS
RETURN
(
    SELECT name, release
    FROM albums
    WHERE author = @AuthorID
)

GO

SELECT *
FROM dbo.GetAlbumsByAuthor2(6)

GO;

use MusicProject 
GO

CREATE TRIGGER after_insert_albums
ON albums
AFTER INSERT
AS
BEGIN
    PRINT 'Trigger fired after insert'
END

GO

INSERT INTO albums (name, author, release)
VALUES ('This album does not exist', 3, GETDATE())

GO;

use MusicProject 
GO

CREATE TRIGGER insert_item
ON items
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @album_id INT
    SELECT @album_id = album FROM inserted

    IF EXISTS (SELECT * FROM albums WHERE id = @album_id)
    BEGIN
        INSERT INTO items (album, collection, type, price)
        SELECT album, collection, type, price FROM inserted
    END
    ELSE
    BEGIN
        PRINT 'Error: No such album exists'
    END
END

GO

INSERT INTO items (album, collection, type, price)
VALUES (3, 3, 'CD', 50.00)

GO;

: Msg 2714, Level 16, State 3, Procedure GetAuthorsBeforeDateCount, Line 2
There is already an object named 'GetAuthorsBeforeDateCount' in the database.

: Msg 102, Level 15, State 1, Line 20
Incorrect syntax near 'GO'.

: Msg 102, Level 15, State 1, Line 38
Incorrect syntax near 'GO'.

: Msg 2714, Level 16, State 3, Procedure GetAuthorsBeforeDateCount2, Line 2
There is already an object named 'GetAuthorsBeforeDateCount2' in the database.

: Msg 102, Level 15, State 1, Line 63
Incorrect syntax near 'GO'.

: Msg 2714, Level 16, State 3, Procedure GetAlbumsByAuthor2, Line 2
There is already an object named 'GetAlbumsByAuthor2' in the database.

name,release
Stromae,2022-03-04

: Msg 2714, Level 16, State 2, Procedure after_insert_albums, Line 2
There is already an object named 'after_insert_albums' in the database.

: Msg 102, Level 15, State 1, Line 104
Incorrect syntax near 'GO'.

: Msg 2111, Level 16, State 1, Procedure insert_item, Line 2
Cannot create trigger 'insert_item' on table 'items' because an INSTEAD OF INSERT trigger already exists on this object.

: Msg 102, Level 15, State 1, Line 133
Incorrect syntax near 'GO'.