# Лабароторная работа №12

Предметная область: 19. Музыкальные альбомы
Коллекция состоит из музыкальных альбомов, которые могут быть записаны на
Audio CD, или на жестком диске. Каждый альбом создан одним автором (исполнителем).
У каждого исполнителя может быть несколько альбомов. Каждый альбом содержит
несколько треков (композиций), которые имеют определенную длину и порядок в
альбоме. Каждый трек может быть только в одном альбоме.

## Структура БД

![DB Diagram and Structure](Screenshot%20from%202023-05-18%2008-32-29.png)

##  Данные в БД

### Albums

![Albums Data](Screenshot%20from%202023-05-18%2008-34-38.png)

### Authors

![Authors Data](Screenshot%20from%202023-05-18%2008-35-42.png)

### Collections

![Collections Data](Screenshot%20from%202023-05-18%2008-35-52.png)

### Items

![Items Data](Screenshot%20from%202023-05-18%2008-36-01.png)

### Tracks

![Tracks Data](Screenshot%20from%202023-05-18%2008-36-11.png)

## 3. С помощью языка T-SQL выполнить следующие запросы:

* вывести все данные из таблиц
* вывести определенные данные, отсортированные в алфавитном порядке по
определенному полю
* вывести определенные данные, отсортированные в обратном алфавитном
порядке по двум полям
* создать вычисляемое поле, и вывести данные, убрав дубликаты
* вывести 30% строк
* вывести первые 5 строк
* вывести строки начиная с 4 строки по 7 строку, отсортированные в обратном
порядке
* Отсортировать данные, используя в качестве критерия сортировки сложно
выражение на основе столбцов
* Запрос на выборку с добавлением SELECT INTO

In [24]:
-- Select all data from the authors table
SELECT * FROM authors;

-- Select all data from the albums table
SELECT * FROM albums;

-- Select all data from the tracks table
SELECT * FROM tracks;

-- Select all data from the collections table
SELECT * FROM collections;

-- Select all data from the items table
SELECT * FROM items;

id,name,birthday
2,David Bowie,1947-01-08
3,Iggy Pop,1947-04-21
4,Lou Reed,1942-03-02
5,Tom Waits,1949-12-07
6,Stromae,1985-03-12
7,Скриптонит,1990-06-03
8,Виктор Цой,1962-06-21
9,Земфира,1976-08-26
10,Jim Morrison,1943-12-08
11,Kanye West,1977-06-08

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
6,Stromae,6,2022-03-04
7,2004,7,2019-12-24
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22
10,Прости меня моя любовь,9,2000-03-28
11,Земфира,9,1999-05-10
12,Вендетта,9,2005-03-01
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

id,name,length,album
9,Scary Monsters,232,1
10,Ashes to Ashes,133,1
11,Heroes,332,2
12,Passenger,245,4
13,Who are you this time?,305,5
14,Бездельник №1,155,9
15,Бездельник №2,177,9
16,Saint Pablo,344,13
17,Welcome to Heartbreak,190,14
18,Ромашки,190,11
19,Сердца из железа,119,7

id,started
1,2004-03-30
2,NULL
3,2023-03-16
4,1973-10-10
5,2020-04-01
6,2003-04-18
7,2011-09-11
8,1976-06-06
9,1968-11-22
10,2000-01-01

id,album,collection,type,price
1,1,3,Vinyl,30.00
2,1,3,Tape,20.00
3,1,3,Digital,4.00
4,2,1,Vinyl,35.00
5,5,7,CD,25.00
6,9,9,CD,23.00
7,7,2,Digital,2.00
8,10,2,Digital,1.00
9,11,2,Digital,0.33
10,8,5,Tape,15.00
11,9,5,Tape,12.50
12,13,6,Vinyl,100.00
13,14,6,Vinyl,80.00
14,5,6,Vinyl,300.00
15,4,6,Vinyl,30.00

In [4]:
SELECT * FROM albums
ORDER BY name

id,name,author,release
7,2004,7,2019-12-24
9,45,8,1982-07-22
14,808s & Heartbreak,11,2008-11-24
5,Bone Machine,5,1992-09-08
2,Heroes,2,1977-10-14
4,Lust For Life,3,1977-09-09
1,Scary Monsters,2,1980-09-12
6,Stromae,6,2022-03-04
13,The Life of Pablo,11,2016-02-14
3,Transformer,4,1972-11-08
12,Вендетта,9,2005-03-01
11,Земфира,9,1999-05-10
8,Последний Герой,8,1984-01-01
10,Прости меня моя любовь,9,2000-03-28

In [ ]:
SELECT * FROM tracks
ORDER BY name, length

In [2]:
SELECT FLOOR(length / 60) AS [Length in minutes]
from tracks

Length in minutes
3
2
5
4
5
2
2
5
3
3
1

In [ ]:
SELECT TOP 30 PERCENT * FROM items

In [ ]:
SELECT TOP 5 * from collections

In [3]:
SELECT *
    FROM tracks
    ORDER BY name DESC
    OFFSET 3 ROWS
    FETCH NEXT 4 ROWS ONLY

id,name,length,album
14,Бездельник №1,155,9
13,Who are you this time?,305,5
17,Welcome to Heartbreak,190,14
9,Scary Monsters,232,1

In [5]:
select * from authors
order by name + REVERSE(name)

id,name,birthday
2,David Bowie,1947-01-08
3,Iggy Pop,1947-04-21
10,Jim Morrison,1943-12-08
11,Kanye West,1977-06-08
4,Lou Reed,1942-03-02
6,Stromae,1985-03-12
5,Tom Waits,1949-12-07
8,Виктор Цой,1962-06-21
9,Земфира,1976-08-26
7,Скриптонит,1990-06-03

In [13]:
IF OBJECT_ID('dbo.albums_authors', 'U') IS NOT NULL
    DROP TABLE albums_authors
SELECT 
	albums.id, 
	albums.name, 
	albums.release,
	authors.name as [Author name],
	authors.birthday [Author birthday]
INTO albums_authors
FROM albums, authors
WHERE albums.author = authors.id

SELECT * FROM albums_authors

id,name,release,Author name,Author birthday
1,Scary Monsters,1980-09-12,David Bowie,1947-01-08
2,Heroes,1977-10-14,David Bowie,1947-01-08
3,Transformer,1972-11-08,Lou Reed,1942-03-02
4,Lust For Life,1977-09-09,Iggy Pop,1947-04-21
5,Bone Machine,1992-09-08,Tom Waits,1949-12-07
6,Stromae,2022-03-04,Stromae,1985-03-12
7,2004,2019-12-24,Скриптонит,1990-06-03
8,Последний Герой,1984-01-01,Виктор Цой,1962-06-21
9,45,1982-07-22,Виктор Цой,1962-06-21
10,Прости меня моя любовь,2000-03-28,Земфира,1976-08-26
11,Земфира,1999-05-10,Земфира,1976-08-26
12,Вендетта,2005-03-01,Земфира,1976-08-26
13,The Life of Pablo,2016-02-14,Kanye West,1977-06-08
14,808s & Heartbreak,2008-11-24,Kanye West,1977-06-08

## 4. С помощью языка T-SQL написать и выполнить 7 запросов на фильтрацию данных с использованием в запросах операторов сравнения, логических операторов

In [15]:
SELECT * FROM authors
WHERE id = 3

id,name,birthday
3,Iggy Pop,1947-04-21

In [17]:
SELECT * FROM authors
WHERE name LIKE 'K%'

id,name,birthday
11,Kanye West,1977-06-08

In [18]:
SELECT * from albums
WHERE release < '2000-01-01'

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22
11,Земфира,9,1999-05-10

In [19]:
SELECT * from tracks
WHERE length > 180

id,name,length,album
9,Scary Monsters,232,1
11,Heroes,332,2
12,Passenger,245,4
13,Who are you this time?,305,5
16,Saint Pablo,344,13
17,Welcome to Heartbreak,190,14
18,Ромашки,190,11

In [20]:
SELECT * FROM albums
WHERE id not in(3,6,9,12)

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
7,2004,7,2019-12-24
8,Последний Герой,8,1984-01-01
10,Прости меня моя любовь,9,2000-03-28
11,Земфира,9,1999-05-10
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

In [21]:
SELECT * from albums
WHERE release BETWEEN '1990-01-01' AND '2000-01-01'

id,name,author,release
5,Bone Machine,5,1992-09-08
11,Земфира,9,1999-05-10

In [23]:
SELECT COUNT(*) as [Vinyls number] from items
where [type] = 'Vinyl'

Vinyls number
6

## 5. Переименуйте одну из таблиц вашей БД

In [ ]:
exec sp_rename 'albums', 'records'
GO

In [ ]:
exec sp_rename 'records', 'albums'
GO

## 6. Добавьте по две записи в каждую из таблиц вашей БД

In [ ]:
-- Insert authors
INSERT INTO authors (name, birthday)
VALUES 
    ('Freddie Mercury', '1946-09-05'),
    ('Jimmy Page', '1944-01-09');

-- Insert albums
INSERT INTO albums (name, author, release)
VALUES
    ('A Night at the Opera', 12, '1975-11-21'),
    ('Led Zeppelin IV', 13, '1971-11-08');

-- Insert tracks
INSERT INTO tracks (name, length, album)
VALUES
    ('Bohemian Rhapsody', 354, 15),
    ('Stairway to Heaven', 482, 16);

-- Insert collections
INSERT INTO collections (started)
VALUES ('2023-05-01'), ('2005-04-18');

-- Insert items
INSERT INTO items (album, collection, type, price)
VALUES
    (9, 1, 'CD', 15.99),
    (7, 1, 'Vinyl', 24.99);