# Лабароторная работа №12

Предметная область: 19. Музыкальные альбомы
Коллекция состоит из музыкальных альбомов, которые могут быть записаны на
Audio CD, или на жестком диске. Каждый альбом создан одним автором (исполнителем).
У каждого исполнителя может быть несколько альбомов. Каждый альбом содержит
несколько треков (композиций), которые имеют определенную длину и порядок в
альбоме. Каждый трек может быть только в одном альбоме.

## Структура БД

![DB Diagram and Structure](Screenshot%20from%202023-05-18%2008-32-29.png)

##  Данные в БД

### Albums

![Albums Data](Screenshot%20from%202023-05-18%2008-34-38.png)

### Authors

![Authors Data](Screenshot%20from%202023-05-18%2008-35-42.png)

### Collections

![Collections Data](Screenshot%20from%202023-05-18%2008-35-52.png)

### Items

![Items Data](Screenshot%20from%202023-05-18%2008-36-01.png)

### Tracks

![Tracks Data](Screenshot%20from%202023-05-18%2008-36-11.png)

## 3. С помощью языка T-SQL выполнить следующие запросы:

* вывести все данные из таблиц
* вывести определенные данные, отсортированные в алфавитном порядке по
определенному полю
* вывести определенные данные, отсортированные в обратном алфавитном
порядке по двум полям
* создать вычисляемое поле, и вывести данные, убрав дубликаты
* вывести 30% строк
* вывести первые 5 строк
* вывести строки начиная с 4 строки по 7 строку, отсортированные в обратном
порядке
* Отсортировать данные, используя в качестве критерия сортировки сложно
выражение на основе столбцов
* Запрос на выборку с добавлением SELECT INTO

In [24]:
-- Select all data from the authors table
SELECT * FROM authors;

-- Select all data from the albums table
SELECT * FROM albums;

-- Select all data from the tracks table
SELECT * FROM tracks;

-- Select all data from the collections table
SELECT * FROM collections;

-- Select all data from the items table
SELECT * FROM items;

id,name,birthday
2,David Bowie,1947-01-08
3,Iggy Pop,1947-04-21
4,Lou Reed,1942-03-02
5,Tom Waits,1949-12-07
6,Stromae,1985-03-12
7,Скриптонит,1990-06-03
8,Виктор Цой,1962-06-21
9,Земфира,1976-08-26
10,Jim Morrison,1943-12-08
11,Kanye West,1977-06-08

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
6,Stromae,6,2022-03-04
7,2004,7,2019-12-24
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22
10,Прости меня моя любовь,9,2000-03-28
11,Земфира,9,1999-05-10
12,Вендетта,9,2005-03-01
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

id,name,length,album
9,Scary Monsters,232,1
10,Ashes to Ashes,133,1
11,Heroes,332,2
12,Passenger,245,4
13,Who are you this time?,305,5
14,Бездельник №1,155,9
15,Бездельник №2,177,9
16,Saint Pablo,344,13
17,Welcome to Heartbreak,190,14
18,Ромашки,190,11
19,Сердца из железа,119,7

id,started
1,2004-03-30
2,NULL
3,2023-03-16
4,1973-10-10
5,2020-04-01
6,2003-04-18
7,2011-09-11
8,1976-06-06
9,1968-11-22
10,2000-01-01

id,album,collection,type,price
1,1,3,Vinyl,30.00
2,1,3,Tape,20.00
3,1,3,Digital,4.00
4,2,1,Vinyl,35.00
5,5,7,CD,25.00
6,9,9,CD,23.00
7,7,2,Digital,2.00
8,10,2,Digital,1.00
9,11,2,Digital,0.33
10,8,5,Tape,15.00
11,9,5,Tape,12.50
12,13,6,Vinyl,100.00
13,14,6,Vinyl,80.00
14,5,6,Vinyl,300.00
15,4,6,Vinyl,30.00

In [4]:
SELECT * FROM albums
ORDER BY name

id,name,author,release
7,2004,7,2019-12-24
9,45,8,1982-07-22
14,808s & Heartbreak,11,2008-11-24
5,Bone Machine,5,1992-09-08
2,Heroes,2,1977-10-14
4,Lust For Life,3,1977-09-09
1,Scary Monsters,2,1980-09-12
6,Stromae,6,2022-03-04
13,The Life of Pablo,11,2016-02-14
3,Transformer,4,1972-11-08
12,Вендетта,9,2005-03-01
11,Земфира,9,1999-05-10
8,Последний Герой,8,1984-01-01
10,Прости меня моя любовь,9,2000-03-28

In [ ]:
SELECT * FROM tracks
ORDER BY name, length

In [2]:
SELECT FLOOR(length / 60) AS [Length in minutes]
from tracks

Length in minutes
3
2
5
4
5
2
2
5
3
3
1

In [ ]:
SELECT TOP 30 PERCENT * FROM items

In [ ]:
SELECT TOP 5 * from collections

In [3]:
SELECT *
    FROM tracks
    ORDER BY name DESC
    OFFSET 3 ROWS
    FETCH NEXT 4 ROWS ONLY

id,name,length,album
14,Бездельник №1,155,9
13,Who are you this time?,305,5
17,Welcome to Heartbreak,190,14
9,Scary Monsters,232,1

In [5]:
select * from authors
order by name + REVERSE(name)

id,name,birthday
2,David Bowie,1947-01-08
3,Iggy Pop,1947-04-21
10,Jim Morrison,1943-12-08
11,Kanye West,1977-06-08
4,Lou Reed,1942-03-02
6,Stromae,1985-03-12
5,Tom Waits,1949-12-07
8,Виктор Цой,1962-06-21
9,Земфира,1976-08-26
7,Скриптонит,1990-06-03

In [13]:
IF OBJECT_ID('dbo.albums_authors', 'U') IS NOT NULL
    DROP TABLE albums_authors
SELECT 
	albums.id, 
	albums.name, 
	albums.release,
	authors.name as [Author name],
	authors.birthday [Author birthday]
INTO albums_authors
FROM albums, authors
WHERE albums.author = authors.id

SELECT * FROM albums_authors

id,name,release,Author name,Author birthday
1,Scary Monsters,1980-09-12,David Bowie,1947-01-08
2,Heroes,1977-10-14,David Bowie,1947-01-08
3,Transformer,1972-11-08,Lou Reed,1942-03-02
4,Lust For Life,1977-09-09,Iggy Pop,1947-04-21
5,Bone Machine,1992-09-08,Tom Waits,1949-12-07
6,Stromae,2022-03-04,Stromae,1985-03-12
7,2004,2019-12-24,Скриптонит,1990-06-03
8,Последний Герой,1984-01-01,Виктор Цой,1962-06-21
9,45,1982-07-22,Виктор Цой,1962-06-21
10,Прости меня моя любовь,2000-03-28,Земфира,1976-08-26
11,Земфира,1999-05-10,Земфира,1976-08-26
12,Вендетта,2005-03-01,Земфира,1976-08-26
13,The Life of Pablo,2016-02-14,Kanye West,1977-06-08
14,808s & Heartbreak,2008-11-24,Kanye West,1977-06-08

## 4. С помощью языка T-SQL написать и выполнить 7 запросов на фильтрацию данных с использованием в запросах операторов сравнения, логических операторов

In [15]:
SELECT * FROM authors
WHERE id = 3

id,name,birthday
3,Iggy Pop,1947-04-21

In [17]:
SELECT * FROM authors
WHERE name LIKE 'K%'

id,name,birthday
11,Kanye West,1977-06-08

In [18]:
SELECT * from albums
WHERE release < '2000-01-01'

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22
11,Земфира,9,1999-05-10

In [19]:
SELECT * from tracks
WHERE length > 180

id,name,length,album
9,Scary Monsters,232,1
11,Heroes,332,2
12,Passenger,245,4
13,Who are you this time?,305,5
16,Saint Pablo,344,13
17,Welcome to Heartbreak,190,14
18,Ромашки,190,11

In [20]:
SELECT * FROM albums
WHERE id not in(3,6,9,12)

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
7,2004,7,2019-12-24
8,Последний Герой,8,1984-01-01
10,Прости меня моя любовь,9,2000-03-28
11,Земфира,9,1999-05-10
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

In [21]:
SELECT * from albums
WHERE release BETWEEN '1990-01-01' AND '2000-01-01'

id,name,author,release
5,Bone Machine,5,1992-09-08
11,Земфира,9,1999-05-10

In [23]:
SELECT COUNT(*) as [Vinyls number] from items
where [type] = 'Vinyl'

Vinyls number
6

## 5. Переименуйте одну из таблиц вашей БД

In [ ]:
exec sp_rename 'albums', 'records'
GO

In [ ]:
exec sp_rename 'records', 'albums'
GO

## 6. Добавьте по две записи в каждую из таблиц вашей БД

In [ ]:
-- Insert authors
INSERT INTO authors (name, birthday)
VALUES 
    ('Freddie Mercury', '1946-09-05'),
    ('Jimmy Page', '1944-01-09');

-- Insert albums
INSERT INTO albums (name, author, release)
VALUES
    ('A Night at the Opera', 12, '1975-11-21'),
    ('Led Zeppelin IV', 13, '1971-11-08');

-- Insert tracks
INSERT INTO tracks (name, length, album)
VALUES
    ('Bohemian Rhapsody', 354, 15),
    ('Stairway to Heaven', 482, 16);

-- Insert collections
INSERT INTO collections (started)
VALUES ('2023-05-01'), ('2005-04-18');

-- Insert items
INSERT INTO items (album, collection, type, price)
VALUES
    (9, 1, 'CD', 15.99),
    (7, 1, 'Vinyl', 24.99);

## 7. Измените одну из таблиц вашей БД:

* добавьте по смыслу один столбец
* добавьте ограничение с именем на новый введенный вами столбец

In [ ]:
ALTER TABLE albums
ADD rating INT

In [ ]:
ALTER TABLE albums
ADD CONSTRAINT CK_albums_rating CHECK (rating >= 1 AND rating <= 10);

In [ ]:
-- Remove the constraint
ALTER TABLE albums
DROP CONSTRAINT CK_albums_rating;

-- Remove the column
ALTER TABLE albums
DROP COLUMN rating;

## 8. Напишите 5 запросов, используя агрегатные функции (SUM, MAX, MIN, AVG, COUNT)

In [ ]:
SELECT SUM(length) as [Total length] from tracks

In [ ]:
SELECT name, MAX(length) as [Longest track] from tracks

In [ ]:
SELECT name, MIN(length) as [Shortest track] from tracks

In [ ]:
SELECT AVG(length) as [Average length] from tracks

In [ ]:
SELECT COUNT(name) as [Number of tracks] from tracks

## 9. Написать 2 запроса на группировку данных, используя оператор GROUP BY

In [26]:
SELECT albums.name, SUM(items.price) as [Total albums selling], COUNT(items.price) as [Copies sold]
FROM albums
INNER JOIN items on items.album = albums.id
GROUP BY albums.name

name,Total albums selling,Albums sold
2004,2.00,1
45,35.50,2
808s & Heartbreak,80.00,1
Bone Machine,325.00,2
Heroes,35.00,1
Lust For Life,30.00,1
Scary Monsters,54.00,3
The Life of Pablo,100.00,1
Земфира,0.33,1
Последний Герой,15.00,1
Прости меня моя любовь,1.00,1

In [27]:
SELECT authors.name, COUNT(albums.name) as [Albums released]
FROM authors
INNER JOIN albums on albums.author = authors.id
GROUP BY authors.name

name,Albums released
David Bowie,2
Iggy Pop,1
Kanye West,2
Lou Reed,1
Stromae,1
Tom Waits,1
Виктор Цой,2
Земфира,3
Скриптонит,1

## 10. Написать 2 запроса на фильтрацию групп, используя HAVING

In [1]:
SELECT authors.name, COUNT(albums.name) as [Albums released]
FROM authors
INNER JOIN albums on albums.author = authors.id
GROUP BY authors.name
HAVING COUNT(albums.name) > 2

name,Albums released
Земфира,3

In [3]:
SELECT albums.name, SUM(items.price) as [Total albums selling], COUNT(items.price) as [Copies sold]
FROM albums
INNER JOIN items on items.album = albums.id
GROUP BY albums.name
HAVING SUM(items.price) >= 100

name,Total albums selling,Albums sold
Bone Machine,325.00,2
The Life of Pablo,100.00,1

## 11. Написать запросы на расширения SQL Server для группировки (ROLLUP, CUBE, GROUPING SETS, OVER)

In [5]:
SELECT YEAR(release) as [Year], MONTH(release) as [Month], COUNT(release) as [Number of albums]
from albums
GROUP BY ROLLUP (YEAR(release), MONTH(release))

Year,Month,Number of albums
1972,11,1
1972,NULL,1
1977,9,1
1977,10,1
1977,NULL,2
1980,9,1
1980,NULL,1
1982,7,1
1982,NULL,1
1984,1,1
1984,NULL,1
1992,9,1
1992,NULL,1
1999,5,1
1999,NULL,1
2000,3,1
2000,NULL,1
2005,3,1
2005,NULL,1
2008,11,1
2008,NULL,1
2016,2,1
2016,NULL,1
2019,12,1
2019,NULL,1
2022,3,1
2022,NULL,1
NULL,NULL,14

In [6]:
SELECT YEAR(release) as [Year], MONTH(release) as [Month], COUNT(release) as [Number of albums]
from albums
GROUP BY CUBE (YEAR(release), MONTH(release))

Year,Month,Number of albums
1984,1,1
NULL,1,1
2016,2,1
NULL,2,1
2000,3,1
2005,3,1
2022,3,1
NULL,3,3
1999,5,1
NULL,5,1
1982,7,1
NULL,7,1
1977,9,1
1980,9,1
1992,9,1
NULL,9,3
1977,10,1
NULL,10,1
1972,11,1
2008,11,1
NULL,11,2
2019,12,1
NULL,12,1
NULL,NULL,14
1972,NULL,1
1977,NULL,2
1980,NULL,1
1982,NULL,1
1984,NULL,1
1992,NULL,1
1999,NULL,1
2000,NULL,1
2005,NULL,1
2008,NULL,1
2016,NULL,1
2019,NULL,1
2022,NULL,1

In [7]:
SELECT YEAR(release) as [Year], MONTH(release) as [Month], COUNT(release) as [Number of albums]
from albums
GROUP BY GROUPING SETS (YEAR(release), MONTH(release))

Year,Month,Number of albums
NULL,1,1
NULL,2,1
NULL,3,3
NULL,5,1
NULL,7,1
NULL,9,3
NULL,10,1
NULL,11,2
NULL,12,1
1972,NULL,1
1977,NULL,2
1980,NULL,1
1982,NULL,1
1984,NULL,1
1992,NULL,1
1999,NULL,1
2000,NULL,1
2005,NULL,1
2008,NULL,1
2016,NULL,1
2019,NULL,1
2022,NULL,1

In [11]:
SELECT name, SUM(length) OVER(PARTITION BY LEN(name)) AS [Total length]
FROM tracks
ORDER BY name

name,Total length
Ashes to Ashes,365
Heroes,332
Passenger,245
Saint Pablo,344
Scary Monsters,365
Welcome to Heartbreak,190
Who are you this time?,305
Бездельник №1,332
Бездельник №2,332
Ромашки,190
Сердца из железа,119

## 12. Написать запрос на разворачивание данных (PIVOT), отмена разворачивания (UNPIVOT)

In [14]:
SELECT *
FROM (
    SELECT a.name AS author_name, b.name AS album_name
    FROM authors a
    JOIN albums b ON a.id = b.author
) AS src
PIVOT (
    COUNT(album_name)
    FOR author_name IN ([David Bowie], [Kanye West])
) AS pivoted_data;

David Bowie,Kanye West
2,2

In [17]:
SELECT *
FROM (
    SELECT *
    FROM (
        SELECT a.name AS author_name, b.name AS album_name
        FROM authors a
        JOIN albums b ON a.id = b.author
    ) AS src
    PIVOT (
        COUNT(album_name)
        FOR author_name IN ([David Bowie], [Kanye West])
    ) AS pivoted_data
) AS unpivoted_data
UNPIVOT (
    album_count FOR metric IN ([David Bowie], [Kanye West])
) AS final_data;

album_count,metric
2,David Bowie
2,Kanye West

## 13. Написать по два запроса на каждое соединение таблиц: внутреннее, внешнее левое, внешнее правое, полное внешнее соединение.

In [18]:
-- Query 1: Inner Join
SELECT a.name AS author_name, b.name AS album_name
FROM authors a
INNER JOIN albums b ON a.id = b.author;

author_name,album_name
David Bowie,Scary Monsters
David Bowie,Heroes
Lou Reed,Transformer
Iggy Pop,Lust For Life
Tom Waits,Bone Machine
Stromae,Stromae
Скриптонит,2004
Виктор Цой,Последний Герой
Виктор Цой,45
Земфира,Прости меня моя любовь
Земфира,Земфира
Земфира,Вендетта
Kanye West,The Life of Pablo
Kanye West,808s & Heartbreak

In [23]:
SELECT a.id, a.name as [album name], a.release, t.id, t.name as [track name], t.length, t.album
FROM albums a
INNER JOIN tracks t ON a.id = t.album;

id,album name,release,id,trakc name,length,album
1,Scary Monsters,1980-09-12,9,Scary Monsters,232,1
1,Scary Monsters,1980-09-12,10,Ashes to Ashes,133,1
2,Heroes,1977-10-14,11,Heroes,332,2
4,Lust For Life,1977-09-09,12,Passenger,245,4
5,Bone Machine,1992-09-08,13,Who are you this time?,305,5
9,45,1982-07-22,14,Бездельник №1,155,9
9,45,1982-07-22,15,Бездельник №2,177,9
13,The Life of Pablo,2016-02-14,16,Saint Pablo,344,13
14,808s & Heartbreak,2008-11-24,17,Welcome to Heartbreak,190,14
11,Земфира,1999-05-10,18,Ромашки,190,11
7,2004,2019-12-24,19,Сердца из железа,119,7

In [19]:
-- Query 2: Left Outer Join
SELECT a.name AS author_name, b.name AS album_name
FROM authors a
LEFT JOIN albums b ON a.id = b.author;

author_name,album_name
David Bowie,Scary Monsters
David Bowie,Heroes
Iggy Pop,Lust For Life
Lou Reed,Transformer
Tom Waits,Bone Machine
Stromae,Stromae
Скриптонит,2004
Виктор Цой,Последний Герой
Виктор Цой,45
Земфира,Прости меня моя любовь
Земфира,Земфира
Земфира,Вендетта
Jim Morrison,NULL
Kanye West,The Life of Pablo
Kanye West,808s & Heartbreak

In [25]:
SELECT a.id, a.name as [author name], b.id, b.name as [album name], b.author
FROM authors a
LEFT JOIN albums b ON a.id = b.author;

id,author name,id,album name,author
2,David Bowie,1,Scary Monsters,2
2,David Bowie,2,Heroes,2
3,Iggy Pop,4,Lust For Life,3
4,Lou Reed,3,Transformer,4
5,Tom Waits,5,Bone Machine,5
6,Stromae,6,Stromae,6
7,Скриптонит,7,2004,7
8,Виктор Цой,8,Последний Герой,8
8,Виктор Цой,9,45,8
9,Земфира,10,Прости меня моя любовь,9
9,Земфира,11,Земфира,9
9,Земфира,12,Вендетта,9
10,Jim Morrison,NULL,NULL,NULL
11,Kanye West,13,The Life of Pablo,11
11,Kanye West,14,808s & Heartbreak,11

In [20]:
-- Query 3: Right Outer Join
SELECT a.name AS author_name, b.name AS album_name
FROM authors a
RIGHT JOIN albums b ON a.id = b.author;

author_name,album_name
David Bowie,Scary Monsters
David Bowie,Heroes
Lou Reed,Transformer
Iggy Pop,Lust For Life
Tom Waits,Bone Machine
Stromae,Stromae
Скриптонит,2004
Виктор Цой,Последний Герой
Виктор Цой,45
Земфира,Прости меня моя любовь
Земфира,Земфира
Земфира,Вендетта
Kanye West,The Life of Pablo
Kanye West,808s & Heartbreak

In [26]:
SELECT a.id, a.name as [album name], a.release, t.id, t.name as [track name], t.length, t.album
FROM albums a
RIGHT JOIN tracks t ON a.id = t.album;

id,album name,release,id,track name,length,album
1,Scary Monsters,1980-09-12,9,Scary Monsters,232,1
1,Scary Monsters,1980-09-12,10,Ashes to Ashes,133,1
2,Heroes,1977-10-14,11,Heroes,332,2
4,Lust For Life,1977-09-09,12,Passenger,245,4
5,Bone Machine,1992-09-08,13,Who are you this time?,305,5
9,45,1982-07-22,14,Бездельник №1,155,9
9,45,1982-07-22,15,Бездельник №2,177,9
13,The Life of Pablo,2016-02-14,16,Saint Pablo,344,13
14,808s & Heartbreak,2008-11-24,17,Welcome to Heartbreak,190,14
11,Земфира,1999-05-10,18,Ромашки,190,11
7,2004,2019-12-24,19,Сердца из железа,119,7

In [21]:
-- Query 4: Full Outer Join
SELECT a.name AS author_name, b.name AS album_name
FROM authors a
FULL JOIN albums b ON a.id = b.author;

author_name,album_name
David Bowie,Scary Monsters
David Bowie,Heroes
Iggy Pop,Lust For Life
Lou Reed,Transformer
Tom Waits,Bone Machine
Stromae,Stromae
Скриптонит,2004
Виктор Цой,Последний Герой
Виктор Цой,45
Земфира,Прости меня моя любовь
Земфира,Земфира
Земфира,Вендетта
Jim Morrison,NULL
Kanye West,The Life of Pablo
Kanye West,808s & Heartbreak

In [27]:
SELECT *
FROM albums a
FULL JOIN tracks t ON a.id = t.album;

id,name,author,release,id,name,length,album
1,Scary Monsters,2,1980-09-12,9,Scary Monsters,232,1
1,Scary Monsters,2,1980-09-12,10,Ashes to Ashes,133,1
2,Heroes,2,1977-10-14,11,Heroes,332,2
3,Transformer,4,1972-11-08,NULL,NULL,NULL,NULL
4,Lust For Life,3,1977-09-09,12,Passenger,245,4
5,Bone Machine,5,1992-09-08,13,Who are you this time?,305,5
6,Stromae,6,2022-03-04,NULL,NULL,NULL,NULL
7,2004,7,2019-12-24,19,Сердца из железа,119,7
8,Последний Герой,8,1984-01-01,NULL,NULL,NULL,NULL
9,45,8,1982-07-22,14,Бездельник №1,155,9
9,45,8,1982-07-22,15,Бездельник №2,177,9
10,Прости меня моя любовь,9,2000-03-28,NULL,NULL,NULL,NULL
11,Земфира,9,1999-05-10,18,Ромашки,190,11
12,Вендетта,9,2005-03-01,NULL,NULL,NULL,NULL
13,The Life of Pablo,11,2016-02-14,16,Saint Pablo,344,13
14,808s & Heartbreak,11,2008-11-24,17,Welcome to Heartbreak,190,14

## 14. Написать по два запроса на пересечение, разность, объединение таблиц

In [29]:
-- Query 1: Intersection
SELECT name
FROM albums
INTERSECT
SELECT name
FROM tracks;

-- Query 2: Intersection
SELECT collections.id
FROM collections
INTERSECT
SELECT id
FROM items;

name
Heroes
Scary Monsters

id
1
2
3
4
5
6
7
8
9
10

In [31]:
-- Query 3: Difference
SELECT name
FROM albums
EXCEPT
SELECT name
FROM tracks;

-- Query 4: Difference
SELECT id
FROM collections
EXCEPT
SELECT id
FROM authors;

name
2004
45
808s & Heartbreak
Bone Machine
Lust For Life
Stromae
The Life of Pablo
Transformer
Вендетта
Земфира
Последний Герой
Прости меня моя любовь

id
1

In [32]:
-- Query 5: Union
SELECT name
FROM albums
UNION
SELECT name
FROM tracks;

-- Query 6: Union
SELECT name
FROM albums
UNION ALL
SELECT name
FROM tracks;

name
2004
45
808s & Heartbreak
Ashes to Ashes
Bone Machine
Heroes
Lust For Life
Passenger
Saint Pablo
Scary Monsters
Stromae
The Life of Pablo
Transformer
Welcome to Heartbreak
Who are you this time?
Бездельник №1
Бездельник №2
Вендетта
Земфира
Последний Герой
Прости меня моя любовь
Ромашки
Сердца из железа

name
2004
45
808s & Heartbreak
Bone Machine
Heroes
Lust For Life
Scary Monsters
Stromae
The Life of Pablo
Transformer
Вендетта
Земфира
Последний Герой
Прости меня моя любовь
Scary Monsters
Ashes to Ashes
Heroes
Passenger
Who are you this time?
Бездельник №1
Бездельник №2
Saint Pablo
Welcome to Heartbreak
Ромашки
Сердца из железа

## 15. Написать 4 запроса с использованием подзапросов, используя операторы сравнения, операторы IN, ANY|SOME и ALL, предикат EXISTS

In [33]:
-- Query 1: Using IN operator
SELECT *
FROM albums
WHERE author IN (SELECT id FROM authors WHERE birthday < '1990-01-01');

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
6,Stromae,6,2022-03-04
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22
10,Прости меня моя любовь,9,2000-03-28
11,Земфира,9,1999-05-10
12,Вендетта,9,2005-03-01
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

In [38]:
-- Query 2: Using ANY|SOME operator
SELECT *
FROM albums
WHERE release < ANY (SELECT birthday FROM authors);

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
3,Transformer,4,1972-11-08
4,Lust For Life,3,1977-09-09
8,Последний Герой,8,1984-01-01
9,45,8,1982-07-22

In [46]:
-- Query 3: Using ALL operator
SELECT *
FROM items
WHERE price > ALL (SELECT price from items WHERE price % 2 = 1);

id,album,collection,type,price
12,13,6,Vinyl,100.00
13,14,6,Vinyl,80.00
14,5,6,Vinyl,300.00

In [48]:
-- Query 4: Using EXISTS predicate
SELECT *
FROM albums a
WHERE EXISTS (SELECT 1 FROM items i WHERE i.album = a.id AND i.[type] = 'Vinyl');

id,name,author,release
1,Scary Monsters,2,1980-09-12
2,Heroes,2,1977-10-14
4,Lust For Life,3,1977-09-09
5,Bone Machine,5,1992-09-08
13,The Life of Pablo,11,2016-02-14
14,808s & Heartbreak,11,2008-11-24

## 16. Написать 4 запроса по строковым функциям

In [49]:
-- Query 1: Using CONCAT function
SELECT CONCAT(name, ' - ', author) AS [Album info]
FROM albums;

Album info
Scary Monsters - 2
Heroes - 2
Transformer - 4
Lust For Life - 3
Bone Machine - 5
Stromae - 6
2004 - 7
Последний Герой - 8
45 - 8
Прости меня моя любовь - 9
Земфира - 9
Вендетта - 9
The Life of Pablo - 11
808s & Heartbreak - 11

In [50]:
-- Query 2: Using LEFT function
SELECT name, LEFT(name, 3) AS [First three characters]
FROM authors;

name,First three characters
2004,200
45,45
808s & Heartbreak,808
Bone Machine,Bon
Heroes,Her
Lust For Life,Lus
Scary Monsters,Sca
Stromae,Str
The Life of Pablo,The
Transformer,Tra
Вендетта,Вен
Земфира,Зем
Последний Герой,Пос
Прости меня моя любовь,Про

In [52]:
-- Query 3: Using LEN function
SELECT name, LEN(name) AS [Name length]
FROM albums;

name,Name length
2004,4
45,2
808s & Heartbreak,17
Bone Machine,12
Heroes,6
Lust For Life,13
Scary Monsters,14
Stromae,7
The Life of Pablo,17
Transformer,11
Вендетта,8
Земфира,7
Последний Герой,15
Прости меня моя любовь,22

In [53]:
-- Query 4: Using REPLACE function
SELECT name, REPLACE(name, ' ', '-') AS [Name without spaces]
FROM albums;

name,Name without spaces
2004,2004
45,45
808s & Heartbreak,808s-&-Heartbreak
Bone Machine,Bone-Machine
Heroes,Heroes
Lust For Life,Lust-For-Life
Scary Monsters,Scary-Monsters
Stromae,Stromae
The Life of Pablo,The-Life-of-Pablo
Transformer,Transformer
Вендетта,Вендетта
Земфира,Земфира
Последний Герой,Последний-Герой
Прости меня моя любовь,Прости-меня-моя-любовь

## 17. Написать 4 запроса по числовым функциям

In [55]:
-- Query 1: Using NEWID function
SELECT *
FROM albums
ORDER BY NEWID()

id,name,author,release
13,The Life of Pablo,11,2016-02-14
6,Stromae,6,2022-03-04
12,Вендетта,9,2005-03-01
4,Lust For Life,3,1977-09-09
7,2004,7,2019-12-24
3,Transformer,4,1972-11-08
11,Земфира,9,1999-05-10
9,45,8,1982-07-22
8,Последний Герой,8,1984-01-01
1,Scary Monsters,2,1980-09-12
14,808s & Heartbreak,11,2008-11-24
5,Bone Machine,5,1992-09-08
2,Heroes,2,1977-10-14
10,Прости меня моя любовь,9,2000-03-28

In [57]:
-- Query 2: Using CEILING function
SELECT price, CEILING(price) AS [Ceiled price], FLOOR(price) as [Floored price]
FROM items;

price,Ceiled price,Floored price
30.00,30.00,30.00
20.00,20.00,20.00
4.00,4.00,4.00
35.00,35.00,35.00
25.00,25.00,25.00
23.00,23.00,23.00
2.00,2.00,2.00
1.00,1.00,1.00
0.33,1.00,0.00
15.00,15.00,15.00
12.50,13.00,12.00
100.00,100.00,100.00
80.00,80.00,80.00
300.00,300.00,300.00
30.00,30.00,30.00

In [58]:
SELECT ROUND(AVG(length) / 60, 1) as [Average track length in minutes] from tracks

Average track length in minutes
3

In [60]:
SELECT SQUARE(SUM(length)) as [Squared total tracks length (Why not?)] from tracks

Squared total tracks length (Why not?)
5866084

## 18. Создайте 5 представлений по своей БД

In [63]:
CREATE OR ALTER VIEW vw_album_details AS
SELECT a.id AS album_id, a.name AS album_name, a.release, au.name AS author_name
FROM albums a
INNER JOIN authors au ON a.author = au.id;

: Msg 2714, Level 16, State 3, Procedure vw_album_details, Line 1
There is already an object named 'vw_album_details' in the database.

In [64]:
SELECT * from vw_album_details;

album_id,album_name,release,author_name
1,Scary Monsters,1980-09-12,David Bowie
2,Heroes,1977-10-14,David Bowie
3,Transformer,1972-11-08,Lou Reed
4,Lust For Life,1977-09-09,Iggy Pop
5,Bone Machine,1992-09-08,Tom Waits
6,Stromae,2022-03-04,Stromae
7,2004,2019-12-24,Скриптонит
8,Последний Герой,1984-01-01,Виктор Цой
9,45,1982-07-22,Виктор Цой
10,Прости меня моя любовь,2000-03-28,Земфира
11,Земфира,1999-05-10,Земфира
12,Вендетта,2005-03-01,Земфира
13,The Life of Pablo,2016-02-14,Kanye West
14,808s & Heartbreak,2008-11-24,Kanye West

In [67]:
CREATE OR ALTER VIEW vw_collection_prices AS
SELECT c.id AS collection_id, SUM(i.price) AS total_price
FROM collections c
LEFT JOIN items i ON c.id = i.collection
GROUP BY c.id;

In [66]:
SELECT * from vw_collection_prices

collection_id,total_price
1,35.00
2,3.33
3,54.00
4,NULL
5,27.50
6,510.00
7,25.00
8,NULL
9,23.00
10,NULL

In [68]:
CREATE OR ALTER VIEW vw_album_tracks AS
SELECT al.name AS album_name, t.name AS track_name, t.length
FROM albums al
INNER JOIN tracks t ON al.id = t.album;

In [69]:
select * from vw_album_tracks

album_name,track_name,length
Scary Monsters,Scary Monsters,232
Scary Monsters,Ashes to Ashes,133
Heroes,Heroes,332
Lust For Life,Passenger,245
Bone Machine,Who are you this time?,305
45,Бездельник №1,155
45,Бездельник №2,177
The Life of Pablo,Saint Pablo,344
808s & Heartbreak,Welcome to Heartbreak,190
Земфира,Ромашки,190
2004,Сердца из железа,119

In [70]:
CREATE OR ALTER VIEW vw_avg_track_length AS
SELECT al.name AS album_name, AVG(t.length) AS avg_length
FROM albums al
INNER JOIN tracks t ON al.id = t.album
GROUP BY al.name;

In [71]:
select * from vw_avg_track_length

album_name,avg_length
2004,119
45,166
808s & Heartbreak,190
Bone Machine,305
Heroes,332
Lust For Life,245
Scary Monsters,182
The Life of Pablo,344
Земфира,190

In [73]:
CREATE OR ALTER VIEW vw_album_items AS
SELECT al.name AS album_name, i.type, i.price
FROM albums al
LEFT JOIN items i ON al.id = i.album;

In [74]:
select * from vw_album_items

album_name,type,price
Scary Monsters,Vinyl,30.00
Scary Monsters,Tape,20.00
Scary Monsters,Digital,4.00
Heroes,Vinyl,35.00
Transformer,NULL,NULL
Lust For Life,Vinyl,30.00
Bone Machine,CD,25.00
Bone Machine,Vinyl,300.00
Stromae,NULL,NULL
2004,Digital,2.00
Последний Герой,Tape,15.00
45,CD,23.00
45,Tape,12.50
Прости меня моя любовь,Digital,1.00
Земфира,Digital,0.33
Вендетта,NULL,NULL
The Life of Pablo,Vinyl,100.00
808s & Heartbreak,Vinyl,80.00

## 19. Покажите применение табличных переменных, временные локальных и глобальных таблиц, а так же обобщенных табличных выражений.

In [81]:
DECLARE @myTableVariable TABLE (
    id int,
    name nvarchar(50)
);

INSERT INTO @myTableVariable (id, name)
VALUES (1, 'John'), (2, 'Jane');

SELECT * FROM @myTableVariable;

: Msg 102, Level 15, State 1, Line 11
Incorrect syntax near '@myTableVariable'.

In [82]:
CREATE TABLE #tempTable (
    id int,
    name nvarchar(50)
);

INSERT INTO #tempTable (id, name)
VALUES (1, 'John'), (2, 'Jane');

SELECT * FROM #tempTable;
DROP TABLE #tempTable;

: Msg 2714, Level 16, State 6, Line 1
There is already an object named '#tempTable' in the database.

In [83]:
CREATE TABLE ##globalTempTable (
    id int,
    name nvarchar(50)
);

INSERT INTO ##globalTempTable (id, name)
VALUES (1, 'John'), (2, 'Jane');

SELECT * FROM ##globalTempTable;
DROP TABLE ##globalTempTable;

: Msg 2714, Level 16, State 6, Line 1
There is already an object named '##globalTempTable' in the database.

In [84]:
WITH cte_tracks AS (
    SELECT id, name, length
    FROM tracks
    WHERE length > 240
)
SELECT *
FROM cte_tracks;

id,name,length
11,Heroes,332
12,Passenger,245
13,Who are you this time?,305
16,Saint Pablo,344