## SQLQuery2_1.sql

In [3]:
use TestDB1;

go
create view PR10
as 
select
    name,
	capital,
	square,
	population,
	continent
from Countries
where 
	population>10000000
	and
	square>500000
	and 
	continent=N'Африка'
go 
select
	*
from PR10

name,capital,square,population,continent
Алжир,Алжир,2381740,39813722,Африка
Ангола,Луанда,1246700,25831000,Африка

## SQLQuery2_2.sql

In [4]:
use TestDB1;

go
create view PR20
(
   Kontinent,
	Sr_PL,
	Sr_KolNas
)
as
select
    continent,
    avg(square) as Sr_PL,
	round(avg(cast(population as float) / square), 0) as Sr_KolNas
from Countries
group by
   continent
go 
select
   *
from PR20

Kontinent,Sr_PL,Sr_KolNas
Азия,181462,520
Африка,923126,42
Европа,114212,151
Северная Америка,22966,16
Южная Америка,3322371,21

## SQLQuery2_3.sql

In [5]:
use Lab8;

go 
create view PR30
(
   Surname,
   Job,
   Title,
   Degree,
   Workplace,
   [Exams Number]
 )
 as select
    FIO,
  Dolgn,
  Zvanie,
  Stepen,
  ShifrKaf_Sotr,
  (select count(distinct o.kod) from ozenka o where O.Tab_Nom = C.TabNom) as [Exams Number]
  From
  Sotrudnik C
  inner join Prepodavatel P on C.TabNom=P.TabNom_Pr
  inner join Kafedra K on C.ShifrKaf_Sotr=K.ShifrKaf
go
select
   *
   from PR30

Surname,Job,Title,Degree,Workplace,Exams Number
Прохоров,зав.кафедрой,профессор,д.т.н,пи,1
Семенов,преподаватель,доцент,к.ф.-м.н,пи,1
Петров,преподаватель,доцент,к.т.н,пи,1
Андреев,зав.кафедрой,профессор,д.ф.-м.н,ис,0
Борисов,преподаватель,доцент,к.ф.-м.н,ис,1
Басов,зав.кафедрой,профессор,д.т.н,мм,1
Сергеева,преподаватель,доцент,к.т.н,мм,1
Волков,зав.кафедрой,профессор,д.т.н,оф,0
Зайцев,преподаватель,доцент,к.т.н,оф,2
Смирнов,преподаватель,ассистент,NULL,оф,0
Кузнецов,зав.кафедрой,профессор,д.ф.-м.н,вм,1
Романцев,преподаватель,профессор,д.ф.-м.н,вм,1
Соловьев,преподаватель,доцент,к.ф.-м.н,вм,1
Зверев,зав.кафедрой,профессор,д.ф.-м.н,эф,1

## SQLQuery2_4.sql

In [6]:
DECLARE @MonthTable TABLE (
    MonthNumber INT,
    MonthName VARCHAR(20),
    DaysInMonth INT
);

DECLARE @year INT = YEAR(GETDATE());
DECLARE @month INT = 1;
WHILE @month <= 12
BEGIN
    INSERT INTO @MonthTable (MonthNumber, MonthName, DaysInMonth)
    VALUES (
        @month,
        DATENAME(MONTH, DATEFROMPARTS(@year, @month, 1)),
        DAY(EOMONTH(DATEFROMPARTS(@year, @month, 1)))
    );
    SET @month = @month + 1;
END

SELECT * FROM @MonthTable;
GO

MonthNumber,MonthName,DaysInMonth
1,January,31
2,February,28
3,March,31
4,April,30
5,May,31
6,June,30
7,July,31
8,August,31
9,September,30
10,October,31
11,November,30
12,December,31

## SQLQuery2_5.sql

In [7]:
use TestDB1;

declare @PR50 Table
(
   Name nvarchar(50),
   Capital nvarchar(50),
   Square float,
   Population bigint,
   Continent nvarchar(50)
)
insert into @PR50
  select 
    name,
    capital,
    population,
    square,
    continent
  from Countries A
where square*100 < (select avg(square) from Countries B where A.continent = B.continent)
select
   Name,
   Capital,
   Square,
   Population,
   Continent
 from @PR50
 GO

Name,Capital,Square,Population,Continent
???????,??????,1397000,701,????

## SQLQuery2_6.sql

In [8]:
use Lab8;

select
DATENAME(week, data) as [Week Name],
count(distinct Kod) as [Exams Number],
count(distinct RegNom) as [Students Number] into
  #PR60
from Ozenka
group by
  DATENAME(week, data)
select * from #PR60

Week Name,Exams Number,Students Number
24,6,8
25,3,5

## SQLQuery2_7.sql

In [9]:
use TestDB1;

create table ##PR70
(
   Name nvarchar(50),
   MaxSquare int,
   MinSquare int
)
insert into
   ##PR70
   (Name, MaxSquare,MinSquare)
select
continent,
max(square)as MaxSquare,
min(square)as MinSquare
from
  Countries
group by
  continent
select*from ##PR70

Name,MaxSquare,MinSquare
????,647500,701
??????,2381740,112620
??????,244820,28748
???????? ???????,22966,22966
????? ???????,8511965,912050

## SQLQuery2_8.sql

In [10]:
use Lab8;

with AverageFacultySalary as
(
select
    F.NFak as Faculty,
	F.ABFak,
	avg(Zarplata) as [Average salary] 
from Sotrudnik C
	inner join Kafedra K on C.ShifrKaf_Sotr=K.ShifrKaf
	inner join Fakultet F on F.ABFak = K.AbFak_Kaf
group by
	F.NFak, F.ABFak
)
select
   C.FIO,
   C.Zarplata,
   AFS.Faculty,
   AFS.[Average salary]
from
   Sotrudnik C
   inner join Kafedra K on C.ShifrKaf_Sotr = K.ShifrKaf
   inner join AverageFacultySalary AFS on AFS.ABFak = K.AbFak_Kaf
where
   C.Zarplata<AFS.[Average salary]

FIO,Zarplata,Faculty,Average salary
Зайцев,2500.00,Естественные Науки,2571.4285
Смирнов,1500.00,Естественные Науки,2571.4285
Лисик,2000.00,Естественные Науки,2571.4285
Романцев,2500.00,Естественные Науки,2571.4285
Соловьев,2500.00,Естественные Науки,2571.4285
Сидоров,1500.00,Информационные Науки,2437.50
Глухов,2000.00,Информационные Науки,2437.50
Чернов,1500.00,Информационные Науки,2437.50
Сергеева,2500.00,Физико Математический,2800.00
Сорокина,2500.00,Физико Математический,2800.00
Григорьев,2000.00,Физико Математический,2800.00

## SQLQuery2_9.sql

In [11]:
USE TestDB1;

IF OBJECT_ID('dbo.PR1', 'V') IS NOT NULL
    DROP VIEW dbo.PR1;

IF OBJECT_ID('dbo.PR10', 'V') IS NOT NULL
    DROP VIEW dbo.PR10;

IF OBJECT_ID('dbo.PR2', 'V') IS NOT NULL
    DROP VIEW dbo.PR2;

IF OBJECT_ID('dbo.PR20', 'V') IS NOT NULL
    DROP VIEW dbo.PR20;

IF OBJECT_ID('tempdb..##PR7', 'U') IS NOT NULL
    DROP TABLE ##PR7;

IF OBJECT_ID('tempdb..##PR70', 'U') IS NOT NULL
    DROP TABLE ##PR70;

USE Lab8;

IF OBJECT_ID('dbo.PR3', 'V') IS NOT NULL
    DROP VIEW dbo.PR3;

IF OBJECT_ID('dbo.PR30', 'V') IS NOT NULL
    DROP VIEW dbo.PR30;

IF OBJECT_ID('tempdb..#PR6', 'U') IS NOT NULL
    DROP TABLE #PR6;

IF OBJECT_ID('tempdb..#PR60', 'U') IS NOT NULL
    DROP TABLE #PR60;

GO