## SQLQuery1_1.sql

In [22]:
use TestDB1;

go
create view PR1
as
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population < 5000000
	and
	square > 100000
go
select
	name,
	capital,
	square,
	population,
	continent
from
	PR1

name,capital,square,population,continent
Ботсвана,Габороне,600370,2209208,Африка

## SQLQuery1_2.sql

In [23]:
use TestDB1;

go
create view PR2
(
	continent,
	square,
	population	
)
as
select 
	continent,
	Sum(square),
	Sum(population)
from
	Countries
group by
	continent
go
select
	
	continent,
	square,
	population
from
	PR2

continent,square,population
Азия,1270235,294810990
Африка,4615630,98055327
Европа,799489,114682216
Северная Америка,22966,377968
Южная Америка,13289485,291942128

## SQLQuery1_3.sql

In [24]:
use Lab8;

go
create view PR3
(
	Surname,
	Job,
	Title,
	Degree,
	Workplace,
	Salary
)
as select
	Fio,
	Dolgn,
	Zvanie,
	Stepen,
	NKaf,
	Zarplata
from
	Sotrudnik C
	inner join Prepodavatel P on C.TabNom = P.TabNom_pr
	inner join Kafedra K on C.ShifrKaf_Sotr = k.ShifrKaf
go
select
	Surname,
	Job,
	Title,
	Degree,
	Workplace,
	Salary
from
	PR3

Surname,Job,Title,Degree,Workplace,Salary
Прохоров,зав.кафедрой,профессор,д.т.н,Прикладная Математика,3500.00
Семенов,преподаватель,доцент,к.ф.-м.н,Прикладная Математика,2500.00
Петров,преподаватель,доцент,к.т.н,Прикладная Математика,2500.00
Андреев,зав.кафедрой,профессор,д.ф.-м.н,Информационные Системы,3500.00
Борисов,преподаватель,доцент,к.ф.-м.н,Информационные Системы,2500.00
Басов,зав.кафедрой,профессор,д.т.н,Математическое Моделирование,3500.00
Сергеева,преподаватель,доцент,к.т.н,Математическое Моделирование,2500.00
Волков,зав.кафедрой,профессор,д.т.н,Общая Физика,3500.00
Зайцев,преподаватель,доцент,к.т.н,Общая Физика,2500.00
Смирнов,преподаватель,ассистент,NULL,Общая Физика,1500.00
Кузнецов,зав.кафедрой,профессор,д.ф.-м.н,Высшая Математика,3500.00
Романцев,преподаватель,профессор,д.ф.-м.н,Высшая Математика,2500.00
Соловьев,преподаватель,доцент,к.ф.-м.н,Высшая Математика,2500.00
Зверев,зав.кафедрой,профессор,д.ф.-м.н,Экспериментальная Физика,3500.00

## SQLQuery1_4.sql

In [25]:
declare @PR4 TABLE
(
   [WeekNumber] int,
   [DateStart] date,
   [DateEnd] date
)
declare @T as date, @N int=1
set @T=cast(year(getdate()) as char(4))+'0101'
while DATEPART(weekday,@T)>1
   set @T=Dateadd(Day,-1,@T)
print DATEPART(week,@T)
while year(@T)<year(dateadd(year,1,getdate()))
begin
    insert
    @PR4
	values
	  (@N,@T,dateadd(day,6,@T))
	  set @T=dateadd(day,7,@T)
	  set @N=@N+1
end
select
	[WeekNumber],
    [DateStart],
    [DateEnd]
from @PR4
GO

WeekNumber,DateStart,DateEnd
1,2023-01-01,2023-01-07
2,2023-01-08,2023-01-14
3,2023-01-15,2023-01-21
4,2023-01-22,2023-01-28
5,2023-01-29,2023-02-04
6,2023-02-05,2023-02-11
7,2023-02-12,2023-02-18
8,2023-02-19,2023-02-25
9,2023-02-26,2023-03-04
10,2023-03-05,2023-03-11
11,2023-03-12,2023-03-18
12,2023-03-19,2023-03-25
13,2023-03-26,2023-04-01
14,2023-04-02,2023-04-08
15,2023-04-09,2023-04-15
16,2023-04-16,2023-04-22
17,2023-04-23,2023-04-29
18,2023-04-30,2023-05-06
19,2023-05-07,2023-05-13
20,2023-05-14,2023-05-20
21,2023-05-21,2023-05-27
22,2023-05-28,2023-06-03
23,2023-06-04,2023-06-10
24,2023-06-11,2023-06-17
25,2023-06-18,2023-06-24
26,2023-06-25,2023-07-01
27,2023-07-02,2023-07-08
28,2023-07-09,2023-07-15
29,2023-07-16,2023-07-22
30,2023-07-23,2023-07-29
31,2023-07-30,2023-08-05
32,2023-08-06,2023-08-12
33,2023-08-13,2023-08-19
34,2023-08-20,2023-08-26
35,2023-08-27,2023-09-02
36,2023-09-03,2023-09-09
37,2023-09-10,2023-09-16
38,2023-09-17,2023-09-23
39,2023-09-24,2023-09-30
40,2023-10-01,2023-10-07
41,2023-10-08,2023-10-14
42,2023-10-15,2023-10-21
43,2023-10-22,2023-10-28
44,2023-10-29,2023-11-04
45,2023-11-05,2023-11-11
46,2023-11-12,2023-11-18
47,2023-11-19,2023-11-25
48,2023-11-26,2023-12-02
49,2023-12-03,2023-12-09
50,2023-12-10,2023-12-16
51,2023-12-17,2023-12-23
52,2023-12-24,2023-12-30
53,2023-12-31,2024-01-06

## SQLQuery1_5.sql

In [26]:
use TestDB1;

declare @PR5 Table
(
   Name nvarchar(30),
   Capital nvarchar(30),
   Square float,
   Population bigint,
   Continent nvarchar(30)
)
insert into @PR5
select 
    name,
	capital,
	square,
	population,
	continent
from Countries
where square<(select avg(square) / 1000 from Countries)
select
	Name,
    Capital,
    Square,
    Population,
    Continent
from @PR5
GO

Name,Capital,Square,Population,Continent
Бахрейн,Манама,701,1397000,Азия

## SQLQuery1_6.sql

In [2]:
use Lab8;

select
DATENAME(month, data) as [Month Name],
count(distinct Kod) as [Exams Number],
count(distinct RegNom) as [Students Number] into
  #PR6
from Ozenka
group by
  DATENAME(month, data)
select * from #PR6
GO

: Msg 2714, Level 16, State 6, Line 3
There is already an object named '#PR600' in the database.

## SQLQuery1_7.sql

In [20]:
use TestDB1;

create table ##PR7
(
   Name nvarchar(50),
   Density float
)
insert into ##PR7
(
   Name, 
   Density
)
select
	name,
	round(population/square,0)as Density
from
	Countries
select*from ##PR7

Name,Density
Австрия,104
Азербайджан,112
Албания,99
Алжир,16
Ангола,20
Аргентина,15
Афганистан,46
Бангладеш,1112
Бахрейн,1992
Белиз,16
Белоруссия,45
Бельгия,368
Бенин,99
Болгария,64
Боливия,9
Ботсвана,3
Бразилия,24
Буркина-Фасо,69
Бутан,16
Великобритания,266
Венгрия,105
Венесуэла,34
Восточный Тимор,78
Вьетнам,278

## SQLQuery1_8.sql

In [21]:
use Lab8;

with AverageCafedraSalary as
(
select
    K.NKaf as Workplace,
	K.ShifrKaf,
	avg(Zarplata) as [Average salary] 
	from Sotrudnik C
	inner join Kafedra K on C.ShifrKaf_Sotr=K.ShifrKaf
	group by
	K.NKaf,K.ShifrKaf
)
select
   C.FIO,
   C.Zarplata,
   ACS.Workplace,
   ACS.[Average salary]
from
   Sotrudnik C
   inner join AverageCafedraSalary ACS on C.ShifrKaf_Sotr=ACS.ShifrKaf where
   C.Zarplata<ACS.[Average salary]

FIO,Zarplata,Workplace,Average salary
Сидоров,1500.00,Прикладная Математика,2500.00
Глухов,2000.00,Информационные Системы,2375.00
Чернов,1500.00,Информационные Системы,2375.00
Сергеева,2500.00,Математическое Моделирование,3000.00
Смирнов,1500.00,Общая Физика,2375.00
Лисик,2000.00,Общая Физика,2375.00
Романцев,2500.00,Высшая Математика,2833.3333
Соловьев,2500.00,Высшая Математика,2833.3333
Сорокина,2500.00,Экспериментальная Физика,2666.6666
Григорьев,2000.00,Экспериментальная Физика,2666.6666