# Соединение нескольких таблиц в запросе

## 1. Выбрать факультет и кафедры, используя неявное соединение. Результат отсортировать по алфавиту

In [1]:

select
	F.Nfak as Fakultet,
	K.Nkaf as Kafedra
from
	Fakultet F, Kafedra K
where
	F.ABfak = K.AbFak_Kaf
order by
	Fakultet, Kafedra

Fakultet,Kafedra
Естественные Науки,Высшая Математика
Естественные Науки,Общая Физика
Информационные Науки,Информационные Системы
Информационные Науки,Прикладная Математика
Физико Математический,Математическое Моделирование
Физико Математический,Экспериментальная Физика

## 2. Выбрать факультет и кафедры, используя явное соединение. Результат отсортировать по алфавиту

In [2]:

select
	F.Nfak as Fakultet,
	K.Nkaf as Kafedra
from
	Fakultet F inner join Kafedra K
	on F.ABfak = K.AbFak_Kaf
order by
	Fakultet, Kafedra

Fakultet,Kafedra
Естественные Науки,Высшая Математика
Естественные Науки,Общая Физика
Информационные Науки,Информационные Системы
Информационные Науки,Прикладная Математика
Физико Математический,Математическое Моделирование
Физико Математический,Экспериментальная Физика

## 3. Выбрать все факультеты и их кафедры, если существуют. Результат отсортировать по алфавиту

In [1]:
SELECT
    F.Nfak as Fakultet
    , K.Nkaf AS Kafedra
    from
    Fakultet F
    LEFT OUTER JOIN Kafedra K ON
    F.ABfak = K.AbFak_Kaf
    ORDER BY
        Fakultet, Kafedra

Fakultet,Kafedra
Гуманнитарные Науки,NULL
Естественные Науки,Высшая Математика
Естественные Науки,Общая Физика
Информационные Науки,Информационные Системы
Информационные Науки,Прикладная Математика
Физико Математический,Математическое Моделирование
Физико Математический,Экспериментальная Физика

## 4. Вывести из таблиц «Кафедра», «Специальность» и «Студент» данные о студентах

In [3]:

select
	S.Fio_stud,
	P.NaprSpez,
	K.Nkaf as Kafedra
from
	Student S
	inner join Spezialn P on S.NomSpez_St = P.Nspez
	inner join Kafedra K on P.Shifr_spez = K.ShifrKaf
where
	K.AbFak_Kaf = N'ит'

Fio_stud,NaprSpez,Kafedra
Андреев,Информационные системы и технологии,Информационные Системы
Федоров,Информационные системы и технологии,Информационные Системы
Макаров,Бизнес информатика,Информационные Системы
Яковлев,Бизнес информатика,Информационные Системы

## 5. Вывести для каждого сотрудника фамилию, должность, зарплату и фамилию его непосредственного руководителя

In [2]:
SELECT
    S.FIO, S.Dolgn, S.Zarplata, P.FIO AS Rukovoditel
    FROM Sotrudnik S INNER JOIN Sotrudnik P ON S.TabNom = P.TabNom_ruk

FIO,Dolgn,Zarplata,Rukovoditel
Прохоров,зав.кафедрой,3500.00,Прохоров
Прохоров,зав.кафедрой,3500.00,Семенов
Прохоров,зав.кафедрой,3500.00,Петров
Семенов,преподаватель,2500.00,Сидоров
Андреев,зав.кафедрой,3500.00,Андреев
Андреев,зав.кафедрой,3500.00,Борисов
Андреев,зав.кафедрой,3500.00,Глухов
Борисов,преподаватель,2500.00,Чернов
Басов,зав.кафедрой,3500.00,Басов
Басов,зав.кафедрой,3500.00,Сергеева
Волков,зав.кафедрой,3500.00,Волков
Волков,зав.кафедрой,3500.00,Зайцев
Волков,зав.кафедрой,3500.00,Смирнов
Зайцев,преподаватель,2500.00,Лисик
Кузнецов,зав.кафедрой,3500.00,Кузнецов
Кузнецов,зав.кафедрой,3500.00,Романцев
Кузнецов,зав.кафедрой,3500.00,Соловьев
Зверев,зав.кафедрой,3500.00,Зверев
Зверев,зав.кафедрой,3500.00,Сорокина
Сорокина,преподаватель,2500.00,Григорьев

In [4]:

select 
	s.fio,
	count(o.data) as [Количество экзаменов]
	from Ozenka o 
		inner join Sotrudnik s on o.Tab_Nom = s.TabNom
group by 
	s.FIO
having
	count(o.data) > 3

## 6. Вывести список студентов, сдавших хотя бы один экзамен.

**По правилам соединения, студенты, не сдававшие экзамены, в выборке представлены не будут**

In [3]:
SELECT S.Fio_Stud
FROM Student S
GROUP BY S.Fio_Stud

Fio_Stud
Андреев
Бондаренко
Иванов
Крюков
Кудрявцев
Макаров
Николаева
Петров
Сергеев
Федоров
Цветков
Яковлев

## 7. Вывести из таблиц «Студент» и «Экзамен» учетные номера и фамилии cтудентов, а также количество сданных экзаменов и средний балл для каждого студента

In [5]:
SELECT S.Fio_Stud, COUNT(O.Ozenk_a) AS [Number of exams],
AVG(O.Ozenk_a) AS [Average grade]
FROM Student S INNER JOIN Ozenka O ON S.Reg_nom = O.ReGNom
GROUP BY S.Fio_Stud

Fio_Stud,Number of exams,Average grade
Андреев,2,3
Бондаренко,2,3
Иванов,2,4
Кудрявцев,1,3
Макаров,3,4
Николаева,3,4
Сергеев,1,5
Федоров,1,3
Цветков,2,4
Яковлев,2,4

## 8. Вывести список заведующих кафедрами и их зарплаты, и стаж работы

In [6]:
SELECT S.FIO, S.Zarplata, Z.St_K
FROM Sotrudnik S INNER JOIN ZavKaf Z on S.TabNom = Z.TabNom_K

FIO,Zarplata,St_K
Прохоров,3500.00,15
Андреев,3500.00,18
Басов,3500.00,20
Волков,3500.00,10
Кузнецов,3500.00,18
Зверев,3500.00,8

## 9. Вывести список кандидатов и докторов физико-математических наук

In [12]:
SELECT S.FIO, P.Stepen FROM Sotrudnik S INNER JOIN Prepodavatel P ON S.TabNom = P.TabNom_pr
WHERE P.Stepen IN (N'к.ф.-м.н', N'д.ф.-м.н')

FIO,Stepen
Семенов,к.ф.-м.н
Андреев,д.ф.-м.н
Борисов,к.ф.-м.н
Кузнецов,д.ф.-м.н
Романцев,д.ф.-м.н
Соловьев,к.ф.-м.н
Зверев,д.ф.-м.н

## 10. Вывести название дисциплины, фамилию, должность и степень преподавателя, дату и место проведения экзаменов в хронологическом порядке

In [11]:
SELECT DISTINCT
    PR.Predmet AS [discipline], S.FIO, S.Dolgn, P.Stepen, O.data, O.Auditoria
    FROM Ozenka O
    INNER JOIN Predmet PR ON O.kod = PR.kod_pred
    INNER JOIN Sotrudnik S ON O.Tab_Nom = S.TabNom
    INNER JOIN Prepodavatel P ON O.Tab_Nom = P.TabNom_pr
    ORDER BY O.[data]

discipline,FIO,Dolgn,Stepen,data,Auditoria
База данных,Борисов,преподаватель,к.ф.-м.н,2022-06-05,т506
Информатика,Семенов,преподаватель,к.ф.-м.н,2022-06-05,т505
Информатика,Петров,преподаватель,к.т.н,2022-06-07,ф419
Информатика,Прохоров,зав.кафедрой,д.т.н,2022-06-07,т506
Моделирование,Сергеева,преподаватель,к.т.н,2022-06-09,ф333
Программирование,Зайцев,преподаватель,к.т.н,2022-06-09,м424
Математика,Кузнецов,зав.кафедрой,д.ф.-м.н,2022-06-10,т506
Моделирование,Басов,зав.кафедрой,д.т.н,2022-06-10,э105
Электронника,Зверев,зав.кафедрой,д.ф.-м.н,2022-06-10,ф349
Математика,Романцев,преподаватель,д.ф.-м.н,2022-06-12,с324
Информатика,Семенов,преподаватель,к.ф.-м.н,2022-06-15,т505
Математика,Кузнецов,зав.кафедрой,д.ф.-м.н,2022-06-15,ф201
Математика,Соловьев,преподаватель,к.ф.-м.н,2022-06-15,ф417
Физика,Зайцев,преподаватель,к.т.н,2022-06-15,ф414

## 11. Вывести фамилию преподавателей и количество их экзаменов

In [13]:
SELECT S.FIO, COUNT(O.data) AS [Exams number]
FROM Ozenka O INNER JOIN Sotrudnik S ON O.Tab_Nom = S.TabNom
GROUP BY S.FIO

FIO,Exams number
Басов,2
Борисов,2
Зайцев,2
Зверев,1
Кузнецов,3
Петров,1
Прохоров,1
Романцев,1
Семенов,3
Сергеева,1
Соловьев,1

## 12. Вывести список студентов, не сдавших ни одного экзамена

In [14]:
SELECT
    S.Fio_stud
    FROM Student S LEFT OUTER JOIN Ozenka O ON S.Reg_nom = O.ReGNom
    WHERE O.ReGNom IS NULL

Fio_stud
Крюков
Петров

# II. Самостоятельная (домашняя) работа

## 11. Вывести список студентов, не сдавших ни одного экзамена в указанной дате.

In [5]:

select
	fio_stud
from 
	Student
where
	Fio_Stud not in
	(select 
		s.fio_stud
		from Student s
			left outer join Ozenka o on s.Reg_nom=o.ReGNom
	where
		o.data = '2022-06-05'
	group by 
		s.Fio_Stud)

fio_stud
Крюков
Бондаренко
Цветков
Петров
Сергеев
Кудрявцев
Макаров
Яковлев

## 2. Вывести в запросе для каждого сотрудника номер и фамилию его непосредственного руководителя. Для заведующих кафедрами поле руководителя оставить пустым.

In [6]:

select
	P.TabNom_ruk as Nom_ruk,
	IIF(S.Dolgn = N'зав.кафедрой', null, P.FIO) as Manager
from
	Sotrudnik S
	inner join Sotrudnik P on S.TabNom = P.TabNom_ruk

Nom_ruk,Manager
101,NULL
101,NULL
101,NULL
102,Сидоров
201,NULL
201,NULL
201,NULL
202,Чернов
301,NULL
301,NULL
401,NULL
401,NULL
401,NULL
402,Лисик
501,NULL
501,NULL
501,NULL
601,NULL
601,NULL
602,Григорьев

## 3. Вывести список студентов, сдавших минимум два экзамена.

In [7]:

select
	s.fio_stud,
	count(O.Ozenk_a) as [Amount of exams]
from	
	Student S
		inner join Ozenka O on S.Reg_nom = O.ReGNom
group by 
	s.Fio_Stud
having
	count(O.Ozenk_a) >= 2

fio_stud,Amount of exams
Андреев,2
Бондаренко,2
Иванов,2
Макаров,3
Николаева,3
Цветков,2
Яковлев,2

## 4. Вывести список инженеров с зарплатой, меньшей 2000 руб.

In [8]:

select
	s.fio,
	s.zarplata
from	
	Sotrudnik S
		inner join Ingener i on S.TabNom = i.TabNom_IN
where
	s.Zarplata < 2000

fio,zarplata
Сидоров,1500.00
Чернов,1500.00

## 5. Вывести список студентов, сдавших экзамены в заданной аудитории.

In [9]:

select
	s.fio_stud,
	o.Auditoria
from	
	Student S
		inner join Ozenka O on S.Reg_nom = O.ReGNom
group by 
	s.Fio_Stud,
	o.Auditoria
having
	O.Auditoria = N'т505'

fio_stud,Auditoria
Иванов,т505
Николаева,т505

## 6. Вывести из таблиц «Студент» и «Экзамен» учетные номера и фамилии студентов, а также количество сданных экзаменов и средний балл для каждого студента только для тех студентов, у которых средний балл не меньше заданного (например, 4).

In [10]:

select
	s.fio_stud,
	count(O.Ozenk_a) as [Amount of exams],
	avg(O.Ozenk_a) as [Average Grade]
from	
	Student S
		inner join Ozenka O on S.Reg_nom = O.ReGNom
group by 
	s.Fio_Stud
having
	avg(O.Ozenk_a) >= 4

fio_stud,Amount of exams,Average Grade
Иванов,2,4
Макаров,3,4
Николаева,3,4
Сергеев,1,5
Цветков,2,4
Яковлев,2,4

## 7. Вывести список заведующих кафедрами и их зарплаты, и степень.

In [11]:

select
	s.fio,
	s.zarplata,
	p.Stepen
from	
	Sotrudnik S
		inner join ZavKaf z on S.TabNom = z.TabNom_K
		inner join Prepodavatel p on S.TabNom = p.TabNom_pr

fio,zarplata,Stepen
Прохоров,3500.00,д.т.н
Андреев,3500.00,д.ф.-м.н
Басов,3500.00,д.т.н
Волков,3500.00,д.т.н
Кузнецов,3500.00,д.ф.-м.н
Зверев,3500.00,д.ф.-м.н

## 8. Вывести список профессоров.

In [12]:

select
	s.fio,
	p.Zvanie
from	
	Sotrudnik S
		inner join Prepodavatel p on S.TabNom = p.TabNom_pr
group by
	s.FIO,
	p.Zvanie
having
	p.Zvanie = N'профессор'

fio,Zvanie
Андреев,профессор
Басов,профессор
Волков,профессор
Зверев,профессор
Кузнецов,профессор
Прохоров,профессор
Романцев,профессор

## 9. Вывести название дисциплины, фамилию, должность и степень преподавателя, дату и место проведения экзаменов в хронологическом порядке в заданном интервале даты.

In [13]:

select distinct	
	pr.predmet as Дисциплина,
	s.fio,
	s.dolgn,
	p.stepen,
	o.data,
	o.auditoria 
from 
	ozenka o
		inner join predmet pr on o.kod = pr.kod_pred
		inner join sotrudnik s on o.Tab_Nom = s.TabNom
		inner join Prepodavatel p on o.Tab_Nom = p.TabNom_pr
where
	o.data between '2022-06-07' and '2022-06-12'
order by 
	o.data

Дисциплина,fio,dolgn,stepen,data,auditoria
Информатика,Петров,преподаватель,к.т.н,2022-06-07,ф419
Информатика,Прохоров,зав.кафедрой,д.т.н,2022-06-07,т506
Моделирование,Сергеева,преподаватель,к.т.н,2022-06-09,ф333
Программирование,Зайцев,преподаватель,к.т.н,2022-06-09,м424
Математика,Кузнецов,зав.кафедрой,д.ф.-м.н,2022-06-10,т506
Моделирование,Басов,зав.кафедрой,д.т.н,2022-06-10,э105
Электронника,Зверев,зав.кафедрой,д.ф.-м.н,2022-06-10,ф349
Математика,Романцев,преподаватель,д.ф.-м.н,2022-06-12,с324

## 10. Вывести фамилию преподавателей, принявших более трех экзаменов.

In [21]:
SELECT s.fio, p.Zvanie, COUNT(o.data) as [Number of exams]
FROM Ozenka o
INNER JOIN Sotrudnik s on o.Tab_Nom = s.TabNom
INNER JOIN Prepodavatel p on o.Tab_Nom = p.TabNom_pr
GROUP BY S.FIO, p.Zvanie HAVING p.Zvanie = N'профессор' AND COUNT(o.data) > 1

fio,Zvanie,Number of exams
Басов,профессор,2
Кузнецов,профессор,3

## 1. Вывести из таблиц «Кафедра», «Специальность» и «Студент» данные о студентах, которые обучаются на данном факультете (например, «ит»).

In [26]:
SELECT Student.Fio_Stud, Student.NomSpez_St, Kafedra.ShifrKaf, Fakultet.ABFak, Fakultet.NFak
FROM Student
INNER JOIN Spezialn ON Student.NomSpez_St = Spezialn.Nspez
INNER JOIN Kafedra ON Spezialn.Shifr_spez = Kafedra.ShifrKaf
INNER JOIN Fakultet ON UPPER(Kafedra.AbFak_Kaf) = Fakultet.ABFak
WHERE Fakultet.ABFak = N'ИТ'

Fio_Stud,NomSpez_St,ShifrKaf,ABFak,NFak
Андреев,09.03.02,ис,ИТ,Информационные Науки
Федоров,09.03.02,ис,ИТ,Информационные Науки
Макаров,38.03.05,ис,ИТ,Информационные Науки
Яковлев,38.03.05,ис,ИТ,Информационные Науки