## 7.2 Самостоятельная Работа

### Создание таблицы

In [1]:
CREATE TABLE AwardsPivotTest
( 
	name nvarchar(50) NULL,
	year int NULL,
	sum float NULL
)

### Заполнение данными

In [2]:
INSERT INTO AwardsPivotTest (name, year, sum)
VALUES 
	(N'Иванов И.И.', 2011, 200),
	(N'Иванов И.И.', 2011, 500),
	(N'Иванов И.И.', 2012, 300),
	(N'Иванов И.И.', 2012, 600),
	(N'Иванов И.И.', 2013, 900),
	(N'Иванов И.И.', 2014, 500),
	(N'Иванов И.И.', 2014, 300),
	(N'Иванов И.И.', 2015, 100),
	(N'Петров П.П.', 2011, 100),
	(N'Петров П.П.', 2012, 200),
	(N'Петров П.П.', 2012, 300),
	(N'Петров П.П.', 2013, 100),
	(N'Петров П.П.', 2014, 300),
	(N'Петров П.П.', 2014, 100),
	(N'Сидоров С.С.', 2012, 100),
	(N'Сидоров С.С.', 2013, 1000),
	(N'Сидоров С.С.', 2014, 500),
	(N'Сидоров С.С.', 2014, 300),
	(N'Сидоров С.С.', 2015, 300);

### Запрос с использованием оператора PIVOT

In [3]:
SELECT name,
    [2011], [2012], [2013], [2014], [2015]
FROM 
    AwardsPivotTest
PIVOT 
    (SUM([sum]) FOR year IN ([2011], [2012], [2013], [2014], [2015]))
    AS PivotTestOutput;

name,2011,2012,2013,2014,2015
Иванов И.И.,700,900,900,800,100
Петров П.П.,100,500,100,400,NULL
Сидоров С.С.,NULL,100,1000,800,300