In [18]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent in
	(
	select
		continent
	from
		Countries
	group by
		continent
	having
		avg(population) > 
		(
		select
			avg(population)
		from
			Countries
		)
	)

name,capital,square,population,continent
Азербайджан,Баку,86600,9705600,Азия
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка
Афганистан,Кабул,647500,29822848,Азия
Бангладеш,Дакка,144000,160221000,Азия
Бахрейн,Манама,701,1397000,Азия
Боливия,Сукре,1098580,10985059,Южная Америка
Бразилия,Бразилиа,8511965,206081432,Южная Америка
Бутан,Тхимпху,47000,784000,Азия
Венесуэла,Каракас,912050,31028637,Южная Америка
Восточный Тимор,Дили,14874,1167242,Азия
Вьетнам,Ханой,329560,91713300,Азия

In [19]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries A
where population > 
	(
	select
		avg(population)
	from
		Countries B
	where
		B.continent = A.continent
	)

name,capital,square,population,continent
Бангладеш,Дакка,144000,160221000,Азия
Вьетнам,Ханой,329560,91713300,Азия
Алжир,Алжир,2381740,39813722,Африка
Ангола,Луанда,1246700,25831000,Африка
Великобритания,Лондон,244820,65341183,Европа
Бразилия,Бразилиа,8511965,206081432,Южная Америка

In [20]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 
	(
	select
		continent
	from 
		Countries
	where
		name = 'Ôèäæè'
	)

In [21]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population = 
	(
	select
		max(Country_Min_Population)
	from
		(	
			select
				min(population) as Country_Min_Population
			from
				Countries
			group by
				continent
		) A
	)

name,capital,square,population,continent
Боливия,Сукре,1098580,10985059,Южная Америка

In [22]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population = 
	(
	select
		max(population)
	from
		Countries
	where
		square in
		(	
			select
				min(square) as Country_Min_Square
			from
				Countries
			group by
				continent
		)
	)

name,capital,square,population,continent
Венесуэла,Каракас,912050,31028637,Южная Америка

In [23]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(population as float)*100/
	(
	select
		sum(population)
	from
		Countries B
	where
		A.continent = B.continent
	),3) as Continent_Percent
from
	Countries A
order by Continent_Percent desc

name,capital,square,population,continent,Continent_Percent
Белиз,Бельмопан,22966,377968,Северная Америка,100
Бразилия,Бразилиа,8511965,206081432,Южная Америка,70.59
Великобритания,Лондон,244820,65341183,Европа,56.976
Бангладеш,Дакка,144000,160221000,Азия,54.347
Алжир,Алжир,2381740,39813722,Африка,40.603
Вьетнам,Ханой,329560,91713300,Азия,31.109
Ангола,Луанда,1246700,25831000,Африка,26.343
Буркина-Фасо,Уагадугу,274200,19034397,Африка,19.412
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка,15.019
Бенин,Порто-Ново,112620,11167000,Африка,11.388
Венесуэла,Каракас,912050,31028637,Южная Америка,10.628
Афганистан,Кабул,647500,29822848,Азия,10.116
Бельгия,Брюссель,30528,11250585,Европа,9.81
Венгрия,Будапешт,93030,9830485,Европа,8.572
Белоруссия,Минск,207595,9498400,Европа,8.282
Австрия,Вена,83858,8741753,Европа,7.623
Болгария,София,110910,7153784,Европа,6.238
Боливия,Сукре,1098580,10985059,Южная Америка,3.763
Азербайджан,Баку,86600,9705600,Азия,3.292
Албания,Тирана,28748,2866026,Европа,2.499
Ботсвана,Габороне,600370,2209208,Африка,2.253
Бахрейн,Манама,701,1397000,Азия,0.474
Восточный Тимор,Дили,14874,1167242,Азия,0.396
Бутан,Тхимпху,47000,784000,Азия,0.266

In [24]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	cast(population as float) / square > 
	(
	select avg(cast(population as float) / square)
	from Countries
	)

name,capital,square,population,continent
Бангладеш,Дакка,144000,160221000,Азия
Бахрейн,Манама,701,1397000,Азия
Бельгия,Брюссель,30528,11250585,Европа
Великобритания,Лондон,244820,65341183,Европа
Вьетнам,Ханой,329560,91713300,Азия

In [25]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population <= 
	(
	select
		population
	from 
		Countries
	where
		name = 'Àíãîëà'
	)

In [26]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 
	(
	select avg(population)
	from Countries
	)

name,capital,square,population,continent
Алжир,Алжир,2381740,39813722,Африка
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка
Бангладеш,Дакка,144000,160221000,Азия
Бразилия,Бразилиа,8511965,206081432,Южная Америка
Великобритания,Лондон,244820,65341183,Европа
Вьетнам,Ханой,329560,91713300,Азия

In [27]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Åâðîïà'
	and
	population > any
	(
	select
		population
	from 
		Countries
	where
		continent = 'Þæíàÿ Àìåðèêà'
	)

In [28]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(square as float)*100/
	(
	select
		sum(square)
	from
		Countries B
	where
		A.continent = B.continent
	),3) as Square_Percent
from
	Countries A
order by Square_Percent desc

name,capital,square,population,continent,Square_Percent
Белиз,Бельмопан,22966,377968,Северная Америка,100
Бразилия,Бразилиа,8511965,206081432,Южная Америка,64.05
Алжир,Алжир,2381740,39813722,Африка,51.602
Афганистан,Кабул,647500,29822848,Азия,50.975
Великобритания,Лондон,244820,65341183,Европа,30.622
Ангола,Луанда,1246700,25831000,Африка,27.01
Белоруссия,Минск,207595,9498400,Европа,25.966
Вьетнам,Ханой,329560,91713300,Азия,25.945
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка,20.82
Болгария,София,110910,7153784,Европа,13.873
Ботсвана,Габороне,600370,2209208,Африка,13.007
Венгрия,Будапешт,93030,9830485,Европа,11.636
Бангладеш,Дакка,144000,160221000,Азия,11.336
Австрия,Вена,83858,8741753,Европа,10.489
Боливия,Сукре,1098580,10985059,Южная Америка,8.267
Венесуэла,Каракас,912050,31028637,Южная Америка,6.863
Азербайджан,Баку,86600,9705600,Азия,6.818
Буркина-Фасо,Уагадугу,274200,19034397,Африка,5.941
Бельгия,Брюссель,30528,11250585,Европа,3.818
Бутан,Тхимпху,47000,784000,Азия,3.7
Албания,Тирана,28748,2866026,Европа,3.596
Бенин,Порто-Ново,112620,11167000,Африка,2.44
Восточный Тимор,Дили,14874,1167242,Азия,1.171
Бахрейн,Манама,701,1397000,Азия,0.055

In [29]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Þæíàÿ Àìåðèêà'
	and
	population > all
	(
	select
		population
	from 
		Countries
	where
		continent = 'Àôðèêà'
	)

In [30]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

intersect

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 100000000

name,capital,square,population,continent
Бразилия,Бразилиа,8511965,206081432,Южная Америка

In [31]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

except

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 1000000

In [32]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries A
where square > 
	(
	select
		avg(square)
	from
		Countries B
	where
		B.continent = A.continent
	)

name,capital,square,population,continent
Афганистан,Кабул,647500,29822848,Азия
Вьетнам,Ханой,329560,91713300,Азия
Алжир,Алжир,2381740,39813722,Африка
Ангола,Луанда,1246700,25831000,Африка
Белоруссия,Минск,207595,9498400,Европа
Великобритания,Лондон,244820,65341183,Европа
Бразилия,Бразилиа,8511965,206081432,Южная Америка

In [33]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(population as float) * 100 /
	(
	select
		sum(population)
	from
		Countries
	),3) as Percent_Population
from
	Countries
order by Percent_Population desc

name,capital,square,population,continent,Percent_Population
Бразилия,Бразилиа,8511965,206081432,Южная Америка,25.764
Бангладеш,Дакка,144000,160221000,Азия,20.031
Вьетнам,Ханой,329560,91713300,Азия,11.466
Великобритания,Лондон,244820,65341183,Европа,8.169
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка,5.482
Алжир,Алжир,2381740,39813722,Африка,4.978
Венесуэла,Каракас,912050,31028637,Южная Америка,3.879
Афганистан,Кабул,647500,29822848,Азия,3.728
Ангола,Луанда,1246700,25831000,Африка,3.229
Буркина-Фасо,Уагадугу,274200,19034397,Африка,2.38
Бельгия,Брюссель,30528,11250585,Европа,1.407
Бенин,Порто-Ново,112620,11167000,Африка,1.396
Боливия,Сукре,1098580,10985059,Южная Америка,1.373
Венгрия,Будапешт,93030,9830485,Европа,1.229
Азербайджан,Баку,86600,9705600,Азия,1.213
Белоруссия,Минск,207595,9498400,Европа,1.187
Австрия,Вена,83858,8741753,Европа,1.093
Болгария,София,110910,7153784,Европа,0.894
Албания,Тирана,28748,2866026,Европа,0.358
Ботсвана,Габороне,600370,2209208,Африка,0.276
Бахрейн,Манама,701,1397000,Азия,0.175
Восточный Тимор,Дили,14874,1167242,Азия,0.146
Бутан,Тхимпху,47000,784000,Азия,0.098
Белиз,Бельмопан,22966,377968,Северная Америка,0.047

In [34]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	exists
	(
	select
		*
	from 
		Countries
	where
		continent = 'Àôðèêà'
		and
		population > 100000000
	)

In [35]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	population > any
	(
	select
		population
	from 
		Countries
	where
		continent = 'Þæíàÿ Àìåðèêà'
	)

In [36]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àçèÿ'
	and
	population > all
	(
	select
		population
	from 
		Countries
	where
		continent = 'Åâðîïà'
	)

In [37]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Åâðîïà' and cast(population as float) / square > 300
union
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àçèÿ' and cast(population as float) / square > 200
union
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà' and cast(population as float) / square > 150

In [38]:
use TestDB1;
--------2.1.6.1--------
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square < 500

union

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 5000000
--------2.1.6.2--------
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

except

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population < 100000000
--------2.1.6.3--------
select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square < 500

intersect

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population < 100000

name,capital,square,population,continent
Бразилия,Бразилиа,8511965,206081432,Южная Америка

name,capital,square,population,continent
Бразилия,Бразилиа,8511965,206081432,Южная Америка

In [39]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	(
	select
		name,
		capital,
		square,
		population,
		continent
	from
		Countries
	where
		continent = 'Åâðîïà'
	) as Europe_table
where
	population > 5000000

In [40]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	(
	select
		name,
		capital,
		square,
		population,
		continent
	from
		Countries
	where
		continent = 'Àôðèêà'
	) as Afric_table
where
	population > 50000000

In [41]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 
	(
	select
		continent
	from 
		Countries
	where
		name = 'Àíãîëà'
	)

In [42]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

union all

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 100000000

name,capital,square,population,continent
Алжир,Алжир,2381740,39813722,Африка
Ангола,Луанда,1246700,25831000,Африка
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка
Боливия,Сукре,1098580,10985059,Южная Америка
Бразилия,Бразилиа,8511965,206081432,Южная Америка
Бангладеш,Дакка,144000,160221000,Азия
Бразилия,Бразилиа,8511965,206081432,Южная Америка

In [43]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent in
	(
	select
		continent
	from
		Countries
	group by
		continent
	having
		avg(cast(population as float) / square ) > 
		(
		select
			avg(cast(population as float) / square )
		from
			Countries
		)
	)

name,capital,square,population,continent
Азербайджан,Баку,86600,9705600,Азия
Афганистан,Кабул,647500,29822848,Азия
Бангладеш,Дакка,144000,160221000,Азия
Бахрейн,Манама,701,1397000,Азия
Бутан,Тхимпху,47000,784000,Азия
Восточный Тимор,Дили,14874,1167242,Азия
Вьетнам,Ханой,329560,91713300,Азия

In [44]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(square as float) * 100 /
	(
	select
		sum(square)
	from
		Countries
	),3) as Percent_Square
from
	Countries
order by Percent_Square desc

name,capital,square,population,continent,Percent_Square
Бразилия,Бразилиа,8511965,206081432,Южная Америка,42.564
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка,13.836
Алжир,Алжир,2381740,39813722,Африка,11.91
Ангола,Луанда,1246700,25831000,Африка,6.234
Боливия,Сукре,1098580,10985059,Южная Америка,5.494
Венесуэла,Каракас,912050,31028637,Южная Америка,4.561
Афганистан,Кабул,647500,29822848,Азия,3.238
Ботсвана,Габороне,600370,2209208,Африка,3.002
Вьетнам,Ханой,329560,91713300,Азия,1.648
Буркина-Фасо,Уагадугу,274200,19034397,Африка,1.371
Великобритания,Лондон,244820,65341183,Европа,1.224
Белоруссия,Минск,207595,9498400,Европа,1.038
Бангладеш,Дакка,144000,160221000,Азия,0.72
Бенин,Порто-Ново,112620,11167000,Африка,0.563
Болгария,София,110910,7153784,Европа,0.555
Венгрия,Будапешт,93030,9830485,Европа,0.465
Азербайджан,Баку,86600,9705600,Азия,0.433
Австрия,Вена,83858,8741753,Европа,0.419
Бутан,Тхимпху,47000,784000,Азия,0.235
Бельгия,Брюссель,30528,11250585,Европа,0.153
Албания,Тирана,28748,2866026,Европа,0.144
Белиз,Бельмопан,22966,377968,Северная Америка,0.115
Восточный Тимор,Дили,14874,1167242,Азия,0.074
Бахрейн,Манама,701,1397000,Азия,0.004

In [45]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	exists
	(
	select
		*
	from 
		Countries
	where
		continent = 'Àôðèêà'
		and
		square > 2000000
	)