## 1. Вывести список стран и процентное соотношение их населения к суммарному населению мира

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(population as float)*100/
	(
	select
		sum(population)
	from
		Countries B
	where
		A.continent = B.continent
	),3) as Continent_Percent
from
	Countries A
order by Continent_Percent desc

## 2. Вывести список стран мира, население которых больше, чем среднее население всех стран мира

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population = 
	(
	select
		max(Country_Min_Population)
	from
		(	
			select
				min(population) as Country_Min_Population
			from
				Countries
			group by
				continent
		)
	)

## 3. С помощью подзапроса вывести список африканских стран, население которых больше 50 млн. Чел

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population <= 
	(
	select
		population
	from 
		Countries
	where
		name = 'Àíãîëà'
	)

## 4. Вывести список стран и процентное соотношение их населения к суммарному населению к той части мира, где они находятся

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 
	(
	select avg(population)
	from Countries
	)

## 6. Вывести список стран мира, которые находятся в тех частях света, среднее население которых больше, чем общемировое

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Åâðîïà'
	and
	population > any
	(
	select
		population
	from 
		Countries
	where
		continent = 'Þæíàÿ Àìåðèêà'
	)

## 7. Вывести список азиатских стран, население которых больше, чем в любой европейской стране

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(population as float) * 100 /
	(
	select
		sum(population)
	from
		Countries
	),3) as Percent_Population
from
	Countries
order by Percent_Population desc

## 8. Вывести список европейских стран, население которых больше, чем население хотя бы одной южноамериканской страны

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	exists
	(
	select
		*
	from 
		Countries
	where
		continent = 'Àôðèêà'
		and
		population > 100000000
	)

## 9. Если в Африке есть хотя бы одна страна, население которой больше 100 млн. чел., вывести список всех африканских стран

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àçèÿ'
	and
	population > all
	(
	select
		population
	from 
		Countries
	where
		continent = 'Åâðîïà'
	)

## 10. Вывести список стран в той части света, где находится страна «Ангола»

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	(
	select
		name,
		capital,
		square,
		population,
		continent
	from
		Countries
	where
		continent = 'Àôðèêà'
	) as Afric_table
where
	population > 50000000

## 11. Вывести список стран, население которых не превышает населении страны «Анголы»

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 
	(
	select
		continent
	from 
		Countries
	where
		name = 'Àíãîëà'
	)