## 3.1
Вывести список стран и процентное соотношение площади каждой из
них к общей площади всех стран мира.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 
	(
	select
		continent
	from 
		Countries
	where
		name = 'Ôèäæè'
	)

## 3.2
Вывести список стран мира, плотность населения которых больше, чем
средняя плотность населения всех стран мира.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population <= 
	(
	select
		population
	from 
		Countries
	where
		name = 'Ôèäæè'
	)

## 3.3
С помощью подзапроса вывести список европейских стран, население
которых меньше 5 млн. чел.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population = 
	(
	select
		max(population)
	from
		Countries
	where
		square in
		(	
			select
				min(square) as Country_Min_Square
			from
				Countries
			group by
				continent
		)
	)

## 3.4
Вывести список стран и процентное соотношение их площади к
суммарной площади той части мира, где они находятся.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	cast(population as float) / square > 
	(
	select avg(cast(population as float) / square)
	from Countries
	)

## 3.5
Вывести список стран мира, площадь которых больше, чем средняя
площадь стран той части света, где они находятся.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(square as float)*100/
	(
	select
		sum(square)
	from
		Countries B
	where
		A.continent = B.continent
	),3) as Square_Percent
from
	Countries A
order by Square_Percent desc

## 3.6
Вывести список стран мира, которые находятся в тех частях света,
средняя плотность населения которых превышает общемировую.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Þæíàÿ Àìåðèêà'
	and
	population > all
	(
	select
		population
	from 
		Countries
	where
		continent = 'Àôðèêà'
	)

## 3.7
Вывести список южноамериканских стран, в которых живет больше
людей, чем в любой африканской стране.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries A
where square > 
	(
	select
		avg(square)
	from
		Countries B
	where
		B.continent = A.continent
	)

## 3.8
Вывести список африканских стран, в которых живет больше людей,
чем хотя бы в одной южноамериканской стране.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	population > any
	(
	select
		population
	from 
		Countries
	where
		continent = 'Þæíàÿ Àìåðèêà'
	)

## 3.9
Если в Африке есть хотя бы одна страна, площадь которой больше 2
млн. кв. км, вывести список всех африканских стран.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	(
	select
		name,
		capital,
		square,
		population,
		continent
	from
		Countries
	where
		continent = 'Åâðîïà'
	) as Europe_table
where
	population > 5000000

## 3.10 Вывести список стран той части света, где находится страна «Фиджи»

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent in
	(
	select
		continent
	from
		Countries
	group by
		continent
	having
		avg(cast(population as float) / square ) > 
		(
		select
			avg(cast(population as float) / square )
		from
			Countries
		)
	)

## 3.11 Вывести список стран, население которых не превышает население страны «Фиджи»

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent,
	round(cast(square as float) * 100 /
	(
	select
		sum(square)
	from
		Countries
	),3) as Percent_Square
from
	Countries
order by Percent_Square desc

## 3.12 Вывести название страны с наибольшим населением среди стран с наименьшей площадью на каждом континенте.

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	continent = 'Àôðèêà'
	and
	exists
	(
	select
		*
	from 
		Countries
	where
		continent = 'Àôðèêà'
		and
		square > 2000000
	)