## Задание 2.1.1

In [5]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

intersect

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 100000000

name,capital,square,population,continent
Бразилия,Бразилиа,8511965,206081432,Южная Америка

## Задание 2.1.2

In [6]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

except

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 1000000

## Задание 2.1.3

In [7]:
use TestDB1;


select

name,
    capital,
    square,
    population,
    continent
from

Countries
where

square
> 1000000

union


select

name,
    capital,
    square,
    population,
    continent
from

Countries
where

population
> 100000000

name,capital,square,population,continent
Алжир,Алжир,2381740,39813722,Африка
Ангола,Луанда,1246700,25831000,Африка
Аргентина,Буэнос-Айрес,2766890,43847000,Южная Америка
Бангладеш,Дакка,144000,160221000,Азия
Боливия,Сукре,1098580,10985059,Южная Америка
Бразилия,Бразилиа,8511965,206081432,Южная Америка

## Задание 2.1.4

In [8]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	Country_Continent = 'Åâðîïà' and cast(population as float) / square > 300
union
select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	Country_Continent = 'Àçèÿ' and cast(population as float) / square > 200
union
select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	Country_Continent = 'Àôðèêà' and cast(population as float) / square > 150

: Msg 208, Level 16, State 1, Line 3
Invalid object name 'Continents'.

## Задание 2.5

In [ ]:
use TestDB1;

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	square > 1000000

union all

select
	name,
	capital,
	square,
	population,
	continent
from
	Countries
where
	population > 100000000

## Задание 2.1.6 Самостоятельная работа

### 1.
Вывести объединенный результат выполнения запросов, которые выбирают
страны с площадью меньше 500 кв. км и с площадью больше 5 млн. кв. км:

### 2.
Вывести список стран с площадью больше 1 млн. кв. км, исключить страны с
населением меньше 100 млн. чел.:

### 3.
Вывести список стран с площадью меньше 500 кв. км и с населением меньше
100 тыс. чел.

In [ ]:
use TestDB1;
--------2.1.6.1--------
select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	square < 500

union

select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	square > 5000000
--------2.1.6.2--------
select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	square > 1000000

except

select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	population < 100000000
--------2.1.6.3--------
select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	square < 500

intersect

select
	name,
	capital,
	square,
	population,
	Country_Continent
from
	Continents
where
	population < 100000